In [1]:
import os
from tika import parser
import re
import pandas as pd
from bs4 import BeautifulSoup

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  


path = os.getcwd()

In [2]:
path=path+"\\"

In [216]:
folders = list(filter(lambda x: x[-4:]=='.pdf',os.listdir(path)))
historico = []
taxa =[]
for pdf in folders:
    a = parser.from_file(path+pdf)['content']
    a = re.sub('\n+', '\n', a)
    if 'NEGOCIAÇÃO' in a:
        a = re.sub('NEGOCIAÇÃO', 'CORRETAGEM', a)
        a = re.sub('Total Custos','Total corretagem', a)
        #print("ALERTA",pdf)
    folhas = re.findall(r"Data pregão(.*?)XP",a.replace('\n',''))
    aux = '_'.join(folhas[0].split('/')[::-1])
    #print(aux)
    os.rename(path+pdf,path+aux+".pdf")

In [217]:
list(filter(lambda x: x[-4:]=='.pdf',os.listdir(path)))

['2019_10_17.pdf',
 '2019_11_01.pdf',
 '2019_12_06.pdf',
 '2020_01_02.pdf',
 '2020_01_13.pdf',
 '2020_02_03.pdf',
 '2020_02_12.pdf',
 '2020_02_26.pdf',
 '2020_03_02.pdf',
 '2020_03_03.pdf',
 '2020_03_13.pdf',
 '2020_03_16.pdf',
 '2020_03_18.pdf',
 '2020_03_31.pdf',
 '2020_04_01.pdf',
 '2020_04_02.pdf',
 '2020_04_08.pdf',
 '2020_04_09.pdf',
 '2020_04_23.pdf',
 '2020_05_06.pdf',
 '2020_06_02.pdf',
 '2020_07_02.pdf']

In [218]:
folders = list(filter(lambda x: x[-4:]=='.pdf',os.listdir(path)))
#folders.remove('2020_07_02.pdf')
historico = []
taxa =[]

for pdf in folders:
    a = parser.from_file(path+pdf)['content']
    a = re.sub('\n+', '\n', a)
    #########
    if 'NEGOCIAÇÃO' in a:
        a = re.sub('NEGOCIAÇÃO', 'CORRETAGEM', a)
        a = re.sub('Total Custos','Total corretagem', a)
    if 'WIN' in a:
        print("ALERTA WIN",pdf)
    if 'IND '  in a:
        print("ALERTA IND",pdf)
    ##########
    folhas = re.findall(r"NOTA DE CORRETAGEMNr. nota(.*?)Folha(.*?)Data pregão(.*?)XP",a.replace('\n',''))

    if pdf == '2020_07_02.pdf':
        taxas = re.findall(r"Precatório\n([(0-9|.|,)]*)Total CBLC (D|C)\n([(0-9|.|,)]*)Valor líquido das operações (D|C)\n([(0-9|.|,)]*)Taxa de liquidação (D|C)\n([(0-9|.|,)]*)Taxa de Registro (D|C)\n([(0-9|.|,)]*)Total Bovespa / Soma (D|C)\n([(0-9|.|,)]*)Taxa de termo/opções (D|C)\n([(0-9|.|,)]*)Taxa A.N.A. (D|C)\n([(0-9|.|,)]*)Emolumentos (D|C)\n \n([(0-9|.|,)]*)Total corretagem / Despesas (D|C)\n \n([(0-9|.|,)]*)Taxa Operacional (D|C)\n([(0-9|.|,)]*)Execução\n([(0-9|.|,)]*)Taxa de Custódia\n([(0-9|.|,)]*)Impostos (D|C)\n([(0-9|.|,)]*)I.R.R.F. s/ operações, base R\$(.*?)\n([(0-9|.|,)]*)Outros (C|D)\n([(0-9|.|,)]*)Líquido para (.*?) (C|D)",a)
    else:
        taxas= re.findall(r"Precatório\n([(0-9|.|,)]*)Total CBLC (D|C)\n([(0-9|.|,)]*)Valor líquido das operações (D|C)\n([(0-9|.|,)]*)Taxa de liquidação (D|C)\n([(0-9|.|,)]*)Taxa de Registro (D|C)\n([(0-9|.|,)]*)Total Bovespa / Soma (D|C)\n([(0-9|.|,)]*)Taxa de termo/opções (D|C)\n([(0-9|.|,)]*)Taxa A.N.A. (D|C)\n([(0-9|.|,)]*)Emolumentos (D|C)\n \n([(0-9|.|,)]*)Total corretagem / Despesas (D|C)\n \n([(0-9|.|,)]*)Clearing (D|C)\n([(0-9|.|,)]*)Execução\n([(0-9|.|,)]*)Execução casa\n([(0-9|.|,)]*)ISS \(SÃO PAULO\) (D|C)\n([(0-9|.|,)]*)I.R.R.F. s/ operações, base R\$(.*?)\n([(0-9|.|,)]*)Outras Bovespa (C|D)\n([(0-9|.|,)]*)Líquido para (.*?) (C|D)",a)
    #print(taxas)
    for i in range(len(taxas)):
        taxas[i] = list(taxas[i])
        if taxas[i][-6][-1] != "D":
            taxas[i][-7] = '0,00'
        assert taxas[i][20] == taxas[i][20] =='0,00'
        for j in range(15):
            if taxas[i][2*j+1][-1] == 'D':
                taxas[i][2*j] = '-'+taxas[i][2*j]
        if taxas[i][-1] == 'D':
                taxas[i][-3] = '-'+taxas[i][-3]
        taxas[i] = list(map(lambda x : int(x.replace('.','').replace(',','')) if not '/' in x else '-'.join(x.split('/')[::-1]),taxas[i][:-1:2] +[taxas[i][-2]]+[taxas[i][-6].split(' ')[0]]))
        try:
            lucro_daytrade,IRRF_daytrade = re.findall(r"IRRF Day Trade: Base R\$ (.*?) Projeção R\$ (.*?)\n",a)[0]
            taxas[i].append(-int(lucro_daytrade.replace('.','').replace(',','')))
            taxas[i].append(-int(IRRF_daytrade.replace('.','').replace(',','')))
        except:
            taxas[i].append(0)
            taxas[i].append(0)
        assert taxas[i][0] == sum(taxas[i][1:4])
        assert taxas[i][4] == sum(taxas[i][5:8])
        assert taxas[i][8] == sum(taxas[i][9:14])
        assert taxas[i][0] + taxas[i][4]+ taxas[i][8] + taxas[i][-1]== taxas[i][-5]
    #for k in taxas:
    #    print(k[-1],k[-5])
    #    print((k[1]*(1+0.00004105+0.0002795)+k[9]*(0.1068+0.039+1))/100 - k[-3]/100)

    trades = re.findall(r"Negócios realizadosQ Negociação C/V Tipo mercado Prazo Especificação do título Obs. \(\*\) Quantidade Preço / Ajuste Valor Operação / Ajuste D/C(.*?)NOTA DE CORRETAGEM",a.replace('\n',''))
    if pdf == '2020_07_02.pdf':
        trades2 = re.findall(r"CONTINUA...Corretagem / DespesasLíquido paraObservação: \(1\) As operações a termo não são computadas no líquido da fatura.Capitais e regiões metropolitanas: 4003-3710 Demais localidades: 0800-880-3710 SAC: 0800-772-0202 Ouvidoria: 0800-722-3710(.*?)Negócios realizadosQ Negociação C/V Tipo mercado Prazo Especificação do título Obs. \(\*\) Quantidade Preço / Ajuste Valor Operação / Ajuste D/CNOTA DE CORRETAGEM",a.replace('\n',''))
    else:
        trades2 = re.findall(r"CONTINUA...Corretagem / DespesasLíquido paraObservação: \(1\) As operações a termo não são computadas no líquido da fatura.(.*?)Negócios realizadosQ Negociação C/V Tipo mercado Prazo Especificação do título Obs. \(\*\) Quantidade Preço / Ajuste Valor Operação / Ajuste D/CNOTA DE CORRETAGEM",a.replace('\n',''))
    assert trades.count('') == len(trades2)
    for i,j in enumerate(folhas):
        if j[1] != '1':
            assert trades[i] == ''
            trades[i] = trades2[0]
            trades2 = trades2[1:]


        aux = filter(lambda x: x !='',trades[i].split('1-'))
        aux2 = map(lambda x : re.findall(r"^(.*?) (C|V) (.*?) (.*?) ([(0-9|.|,)]*) ([(0-9|.|,)]*) ([(0-9|.|,)]*) (D|C)$",x)[0],aux)
        aux3 = map(lambda x : [x[0],x[1],x[2],re.sub(' +', ' ', x[3]).strip(),x[4].replace('.','').replace(',','.'),x[5].replace('.','').replace(',','.'),x[6].replace('.','').replace(',','.'),x[7]],aux2)
        folhas[i] = [j[0],j[1],'-'.join(j[2].split('/')[::-1]),list(aux3)] 

    assert len(trades2)==0

    folhas = folhas[::-1]
    for i,k in enumerate(folhas):
        #Aqui to perdendo a info do marcado D do daytrade no nome do ativo
        k[3] = list(map(lambda x : (k[0],k[2],re.sub(r'(#$| #$| #2$)','', x[3]),int('-'+x[4]),x[5],int(x[6].replace('.',''))) if x[1] == 'V' else (k[0],k[2],re.sub(r'(#$| #$| #2$)','', x[3]),int(x[4]),x[5],int('-'+x[6].replace('.',''))) ,k[3]))
        if i != 0:
            if folhas[i-1][1] != '1':
                folhas[i][3]= folhas[i][3]+folhas[i-1][3]
    folhas = list(filter(lambda x: x[1] == '1',folhas[::-1]))
    folhas = list(map(lambda x: x[3],folhas))
    assert len(folhas)==len(taxas)

    historico.append([n for m in folhas for n in m])
    taxa.append(taxas)
historico,taxa = [n for m in historico for n in m],[z for x in taxa for z in x]

In [223]:

def translate_tickers(nome):
    tickers={
        'BTGP BANCO UNT N2':'BPAC11',
        'BTGP BANCO UNT N2 D':'BPAC11',
        'BRASKEM PNA N1':'BRKM5',
        'ENEVA ON NM':'ENEV3',
        'ENEVA ON NM D':'ENEV3',
        'BIOTOSCANA DR3':'GBIO33',
        'BIOTOSCANA DR3 D#2':'GBIO33',
        'BIOTOSCANA DR3 D':'GBIO33',
        'QUALICORP ON ER NM':'QUAL3',
        'QUALICORP ON NM':'QUAL3',
        'BRASIL ON NM #2D':'BBAS3',
        'BRASIL ON NM':'BBAS3',
        'BRASIL ON NM D':'BBAS3',
        'SINQIA ON NM':'SQIA3',
        'AES TIETE E UNT ED N2':'TIET11',
        'AES TIETE E UNT N2':'TIET11',
        'AES TIETE E UNT N2 D':'TIET11',
        'BRADESCO PN EJB N1':'BBDC4',
        'BRADESCO PN N1':'BBDC4',
        'BRADESCO ON EJB N1':'BBDC3',
        'BRADESCO ON N1':'BBDC3',
        'ITAUUNIBANCO PN ED N1':'ITUB4',
        'ITAUUNIBANCO PN N1':'ITUB4',
        'JBS ON ED NM':'JBSS3',
        'JBS ON NM':'JBSS3',
        'LOJAS RENNER ON EDB NM':'LREN3',
        'PETROBRAS PN N2 D':'PETR4',
        'LOJAS RENNER ON NM':'LREN3',
        'P.ACUCAR-CBD PN EJ N1':'PCAR4',
        'P.ACUCAR-CBD PN N1':'PCAR4',
        'PETROBRAS PN ED N2':'PETR4',
        'PETROBRAS PN N2':'PETR4',
        'BRASIL ON NM D':'BBAS3',
        'VALE ON NM':'VALE3',
        'AZUL PN N2':'AZUL4',
        'OI ON N1':'OIBR3',
        'OI ON N1 D':'OIBR3',
        'OI ON N1 D#2':'OIBR3',
        'B2W DIGITAL ON NM':'BTOW3',
        'ENGIE BRASIL ON NM':'EGIE3',
        'EQUATORIAL ON NM':'EQTL3',
        'LOCALIZA ON NM':'RENT3',
        'SUZANO PAPEL ON NM':'SUZB3',
        'CARREFOUR BR ON NM':'CRFB3',
        'LUPATECH ON NM':'LUPA3',
        'TIM PART S/A ON NM':'TIMP3',
        'SUL AMERICA UNT N2':'SULA11',
        'MULTIPLAN ON N2':'MULT3',
        'TRAN PAULIST PN N1':'TRPL4',
        'RUMO S.A. ON NM':'RAIL3',
        'LOJAS RENNER ON ED NM D':'LREN3',
        'EZTEC ON NM':'EZTC3',
        'EZTEC ON EDB NM':'EZTC3',
        'B3 ON NM':'B3SA3',
        'ISHARES BOVA CI ATZ':'BOVA11',
        'LOCAWEB ON NM':'LWSA3',
        'RANDON PART PN N1':'RAPT4',
        'IGUATEMI ON NM' : 'IGTA3',
        'BR MALLS PAR ON NM':'BRML3',
        'MAGAZ LUIZA ON NM D':'MGLU3',
        'AMBEV S/A ON':'ABEV3',
        'CVC BRASIL ON NM':'CVCB3',
        'TOTVS ON NM':'TOTS3',
        'KEPLER WEBER ON EJ':'KEPL3',
        'KEPLER WEBER ON':'KEPL3',
        'TUPY ON NM':'TUPY3',
        'PETRORIO ON NM':'PRIO3',
        'PETRORIO ON NM D':'PRIO3',
        'PETRORIO ON NM D#2':'PRIO3',
        'VIAVAREJO ON NM':'VVAR3',
        'CENTAURO ON NM':'CNTO3',
        'ELETROBRAS ON N1':'ELET3',
        'BRADESCO PN EJ N1':'BBDC4',
        'M.DIASBRANCO ON EJ NM':'MDIA3',
        'ABC BRASIL PN EJ N2':'ABCB4',
        'CAMIL ON NM':'CAML3',
        'GRUPO NATURA ON NM':'NTCO3',
        'CEA MODAS ON EJ NM':'CEAB3',
        'CEA MODAS ON NM':'CEAB3',
        'CIA HERING ON NM':'HGTX3',
        'IMC S/A ON NM':'MEAL3',
        'PPLA UNT':'PPLA11',
        'BANCO BMG PN N1':'BMGB4',
        'IRBBRASIL RE ON NM':'IRBR3',
        'IRBBRASIL RE ON ES NM':'IRBR3',
        'ABC BRASIL PN N2':'ABCB4',
        'TECNOSOLO ON' : 'TCNO3',
        'LOG-IN ON NM':'LOGN3',
        'HELBOR ON NM':'HBOR3',
        'HELBOR ON NM D':'HBOR3',
        #'DE COMPRA 01/20 VVARA125 ON 12,50 VVAR':'VVAR125',
        #'OPC COMPRA 01/20 VVARA125E ON 12,50':'VVAR125',
        'PORTOBELLO ON NM':'PTBL3',
        'RECRUSUL PN':'RCSL4',
        'GAFISA ON NM':'GFSA3',
        'GAFISA ON NM D':'GFSA3',
        'COGNA ON ON NM':'COGN3',
        'MILLS ON NM':'MILS3',
        'TECNISA ON NM':'TCSA3',
        'ETERNIT ON NM':'ETER3',
        'TRISUL ON NM' : 'TRIS3',
        'CEMIG PN N1' : 'CMIG4',
        'CEMIG PN EJ N1': 'CMIG4',
        'DOMMO ON':'DMMO3',
        'RECRUSUL ON':'RCSL3',
        'POSITIVO TEC ON NM':'POSI3',
        'PETROBRAS BR ON NM':'BRDT3',
        'OI PN N1':'OIBR4',
        'ISHARES BOVA CI':'BOVA11',
        'ISHARES BOVA CI D':'BOVA11',
        'ELETROBRAS PNB N1':'ELET6',
        'PETROBRAS PN N2 D#2':'PETR4',
        'SABESP ON NM': 'SBSP3',
        'SID NACIONAL ON D':'CSNA3',
        'CIELO ON NM':'CIEL3',
        'CYRELA REALT ON NM':'CYRE3',
        'LOG COM PROP ON NM':'LOGG3',
        'OPC COMPRA 01/20 VVARA125E ON 12,50':'VVAR3',
        'OPC VENDA 03/20 PETRO308E PN 30,45':'PETR4',
        'OPC VENDA 03/20 PETRO308E PN 30,45 D':'PETR4',
        'IRBBRASIL RE DO 6,93':'IRBR3 Direito de subscricao 6.93',
        'FII XP CRED XPCI11 CI':'DSHFOSDHFOISDFJSDPOOFJSPOFJSDPF',
        'FII XP CRED XPCI12 DM 100,51':'DSHFOSadlfsldflsdfsdF',
    }
    return tickers[nome]

In [263]:
aux = pd.DataFrame(historico,columns=['nota','pregao','nome','qtd','preco_medio','financeiro'])
aux['daytrade'] = aux.nome.apply(lambda x : True if x[-1] == 'D' or x[-3:-1] == 'D#' or x[-4:-1] == 'D#2' else False)
aux.nome = aux.nome.apply(translate_tickers)
aux['mes'] = aux['pregao'].apply(lambda x : '-'.join(x.split('-')[:2]))
aux = aux.sort_values(by='pregao',ascending=True)
aux.index = range(len(aux))
aux['turnover'] = abs(aux['financeiro'])

In [264]:
aux

,nota,pregao,nome,qtd,preco_medio,financeiro,daytrade,mes,turnover
0,16956305,2019-10-17,BBAS3,1000,44.93,-4493000,False,2019-10,4493000
1,16956305,2019-10-17,ENEV3,1900,29.61,-5625900,False,2019-10,5625900
2,16977078,2019-10-18,RAPT4,100,11.00,-110000,False,2019-10,110000
3,16977078,2019-10-18,RAPT4,2200,11.00,-2420000,False,2019-10,2420000
4,16977078,2019-10-18,RAPT4,4800,11.00,-5280000,False,2019-10,5280000
...,...,...,...,...,...,...,...,...,...
2723,24061752,2020-07-22,IRBR3,-400,8.13,325200,False,2020-07,325200
2724,24061752,2020-07-22,IRBR3,-600,8.13,487800,False,2020-07,487800
2725,24061752,2020-07-22,IRBR3 Direito de subscricao 6.93,-39,1.07,4173,False,2020-07,4173
2726,24061752,2020-07-22,IRBR3 Direito de subscricao 6.93,-500,1.07,53500,False,2020-07,53500
2727,24061752,2020-07-22,IRBR3,-500,8.13,406500,False,2020-07,406500

In [265]:
turnover = aux.groupby(by=['pregao','nota']).sum()[["turnover"]].sort_values(by='pregao',ascending=True)
turnover

                     turnover
pregao     nota
2019-10-17 16956305  10118900
2019-10-18 16977078  21628200
2019-10-21 16998228   1719500
2019-10-22 17022090   8252200
2019-10-23 17045946  11977500
...                       ...
2020-07-02 23304421  10042000
2020-07-03 23350981  23850000
2020-07-07 23455410   8920500
2020-07-09 23555093  23500000
2020-07-22 24061752   1277173

[93 rows x 1 columns]

In [266]:
aux.groupby(by=['pregao','nota']).count().reset_index()[['pregao','nota']].sort_values(by='pregao',ascending=True)

        pregao      nota
0   2019-10-17  16956305
1   2019-10-18  16977078
2   2019-10-21  16998228
3   2019-10-22  17022090
4   2019-10-23  17045946
..         ...       ...
88  2020-07-02  23304421
89  2020-07-03  23350981
90  2020-07-07  23455410
91  2020-07-09  23555093
92  2020-07-22  24061752

[93 rows x 2 columns]

In [267]:
df_taxas = pd.DataFrame(taxa).sort_values(by=15,ascending=True)
df_taxas.columns = ['CBLC','valor_liquido_operacoes','taxa_liquidacao','taxa_registro','total_bovespa','taxa_termo_opcoes','taxa_ANA','emolumentos','total_custos','taxa_operacional','execucao','impostos','IRRF','outros','valor_liquido_para','data_liquidacao','montante_IRRF','lucro_daytrade','IRRF_daytrade']
df_taxas.index = range(len(df_taxas))
#df_taxas = df_taxas[[15,14]]
#df_taxas.columns = ['liquidacao','IRRF','valorIRRF','corretagem','valor_final','valor_liquid_operacoes','lucro_daytrade','IRRF_daytrade']
#df_taxas['valor_liquido_para'] = df_taxas['valor_liquido_para'] - df_taxas['IRRF_daytrade']
df_taxas['custos_operacionais'] = df_taxas['taxa_liquidacao']+df_taxas['emolumentos']+df_taxas['impostos']+df_taxas['outros']+df_taxas['taxa_operacional']
df_taxas = pd.concat([df_taxas,aux.groupby(by=['pregao','nota']).count().reset_index()[['pregao','nota']].sort_values(by='pregao',ascending=True)],axis=1)
#df_taxas= df_taxas[['nota','pregao','data_liquidacao','taxa_operacional','custos_operacionais','valor_liquido_para']]
#df_taxas.set_index(15).T
df_taxas

,CBLC,valor_liquido_operacoes,taxa_liquidacao,taxa_registro,total_bovespa,taxa_termo_opcoes,taxa_ANA,emolumentos,total_custos,taxa_operacional,...,IRRF,outros,valor_liquido_para,data_liquidacao,montante_IRRF,lucro_daytrade,IRRF_daytrade,custos_operacionais,pregao,nota
0,-10121682,-10118900,-2782,0,-578,0,0,-578,-4330,-3780,...,0,-147,-10126590,2019-10-21,0,0,0,-7690,2019-10-17,16956305
1,-12016147,-12010200,-5947,0,-887,0,0,-887,-11067,-9450,...,-240,-368,-12028101,2019-10-22,4809000,0,0,-17661,2019-10-18,16977078
2,1719028,1719500,-472,0,-70,0,0,-70,-2164,-1890,...,0,-73,1716794,2019-10-23,1719500,0,0,-2706,2019-10-21,16998228
3,8249931,8252200,-2269,0,-338,0,0,-338,-2576,-1890,...,-412,-73,8247017,2019-10-24,8252200,0,0,-4771,2019-10-22,17022090
4,11974207,11977500,-3293,0,-491,0,0,-491,-9259,-7560,...,-598,-294,11964457,2019-10-25,11977500,0,0,-12445,2019-10-23,17045946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,-10044761,-10042000,-2761,0,-310,0,0,-310,-2164,-1890,...,0,-73,-10047235,2020-07-06,0,0,0,-5235,2020-07-02,23304421
89,23843442,23850000,-6558,0,-736,0,0,-736,-70953,-60885,...,-1192,-2374,23771753,2020-07-07,23850000,0,0,-77055,2020-07-03,23350981
90,8918047,8920500,-2453,0,-275,0,0,-275,-2610,-1890,...,-446,-73,8915162,2020-07-09,8920500,0,0,-4892,2020-07-07,23455410
91,-23506462,-23500000,-6462,0,-1645,0,0,-1645,-2164,-1890,...,0,-73,-23510271,2020-07-13,0,0,0,-10271,2020-07-09,23555093
92,1276822,1277173,-351,0,-39,0,0,-39,-6495,-5669,...,0,-221,1270288,2020-07-24,1277173,0,0,-6885,2020-07-22,24061752

In [268]:
#verifica se os daytrades estão todos marcados certo (soma por dia da coluna qtd tem q ser zero pra todos os ativos/dia)
e = aux[aux.daytrade].groupby(['pregao','nome']).sum()
e

                   qtd  financeiro  daytrade  turnover
pregao     nome
2020-02-11 PRIO3  -500     1436000      30.0  96986000
2020-03-02 TIET11    0      -27000       3.0   3497000
2020-03-13 CSNA3     0      147500      20.0  14947500
           GFSA3     0       15000       7.0   1791000
           HBOR3     0       33000       2.0   1365000
2020-03-16 PETR4  -500     2552700       3.0   4146300
2020-04-08 PETR4     0      144000      56.0  60120000
2020-05-26 PRIO3     0    -1049600      34.0  59950400

In [275]:
aux.loc[aux[aux.nota=='20028421'].index,'daytrade'] = False

In [269]:
#preciso na unha tirar os BOVA11 q na vdd n foram daytrade
confusao = aux[aux.daytrade][aux.pregao=='2020-02-11'][aux.nome == 'PRIO3']
confusao

C:\Users\luiz.cavalcante\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,nota,pregao,nome,qtd,preco_medio,financeiro,daytrade,mes,turnover
1051,19172474,2020-02-11,PRIO3,-500,44.79,2239500,True,2020-02,2239500
1052,19172474,2020-02-11,PRIO3,-300,44.69,1340700,True,2020-02,1340700
1054,19172474,2020-02-11,PRIO3,-100,44.79,447900,True,2020-02,447900
1055,19172474,2020-02-11,PRIO3,-1000,44.79,4479000,True,2020-02,4479000
1057,19172474,2020-02-11,PRIO3,-1000,44.79,4479000,True,2020-02,4479000
1058,19172474,2020-02-11,PRIO3,-5400,44.69,24132600,True,2020-02,24132600
1059,19172474,2020-02-11,PRIO3,-900,44.79,4031100,True,2020-02,4031100
1061,19172474,2020-02-11,PRIO3,-200,44.79,895800,True,2020-02,895800
1063,19172474,2020-02-11,PRIO3,-100,44.79,447900,True,2020-02,447900
1066,19172474,2020-02-11,PRIO3,-100,44.69,446900,True,2020-02,446900
1067,19172474,2020-02-11,PRIO3,-400,44.79,1791600,True,2020-02,1791600
1069,19172474,2020-02-11,PRIO3,100,45.50,-455000,True,2020-02,455000
1070,19172474,2020-02-11,PRIO3,300,45.50,-1365000,True,2020-02,1365000
1072,19172474,2020-02-11,PRIO3,2000,45.50,-9100000,True,2020-02,9100000
1073,19172474,2020-02-11,PRIO3,1000,45.50,-4550000,True,2020-02,4550000
1074,19172474,2020-02-11,PRIO3,300,45.50,-1365000,True,2020-02,1365000
1075,19172474,2020-02-11,PRIO3,1700,45.50,-7735000,True,2020-02,7735000
1076,19172474,2020-02-11,PRIO3,1000,45.50,-4550000,True,2020-02,4550000
1077,19172474,2020-02-11,PRIO3,100,45.50,-455000,True,2020-02,455000
1078,19172474,2020-02-11,PRIO3,1000,45.50,-4550000,True,2020-02,4550000
1079,19172474,2020-02-11,PRIO3,-1000,44.79,4479000,True,2020-02,4479000
1080,19172474,2020-02-11,PRIO3,100,45.50,-455000,True,2020-02,455000
1081,19172474,2020-02-11,PRIO3,500,45.50,-2275000,True,2020-02,2275000
1082,19172474,2020-02-11,PRIO3,200,45.50,-910000,True,2020-02,910000
1083,19172474,2020-02-11,PRIO3,100,45.50,-455000,True,2020-02,455000
1084,19172474,2020-02-11,PRIO3,1000,45.50,-4550000,True,2020-02,4550000
1085,19172474,2020-02-11,PRIO3,500,45.50,-2275000,True,2020-02,2275000
1086,19172474,2020-02-11,PRIO3,100,45.50,-455000,True,2020-02,455000
1087,19172474,2020-02-11,PRIO3,300,45.50,-1365000,True,2020-02,1365000
1088,19172474,2020-02-11,PRIO3,200,45.50,-910000,True,2020-02,910000

In [270]:
qtd_comprada = confusao[confusao.qtd>0].qtd.sum()
qtd_vendida  = -confusao[confusao.qtd<0].qtd.sum()

#saldo final dos trades daquele dia, se ficou net comprado ou net vendido
saldo = qtd_comprada-qtd_vendida

#medio de compra
medio_compra = -0.01*confusao[confusao.qtd>0].financeiro.sum()/qtd_comprada
#medio_venda
medio_venda = 0.01*confusao[confusao.qtd<0].financeiro.sum()/qtd_vendida
medio_compra,medio_venda

(45.5, 44.737272727272725)

In [271]:
adicionar = confusao.iloc[0:2].copy()
adicionar.index = [0,1]
adicionar

,nota,pregao,nome,qtd,preco_medio,financeiro,daytrade,mes,turnover
0,19172474,2020-02-11,PRIO3,-500,44.79,2239500,True,2020-02,2239500
1,19172474,2020-02-11,PRIO3,-300,44.69,1340700,True,2020-02,1340700

In [272]:

if saldo > 0 and medio_compra < medio_venda :
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_compra
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    
elif saldo < 0 and medio_compra < medio_venda:
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_venda
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_comprada*(medio_venda-medio_compra)))
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_comprada*(medio_venda-medio_compra)))

elif saldo > 0 and medio_compra > medio_venda :
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_compra
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    
elif saldo < 0 and medio_compra > medio_venda:
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_venda
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_comprada*(medio_venda-medio_compra)))
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_comprada*(medio_venda-medio_compra)))

    
else:
    print('algum erro de caso inesperado')


#adicionar.index = [len(aux),len(aux)+1]
adicionar['turnover']  = adicionar['financeiro'].apply(abs)

In [273]:
aux.drop(confusao.index,inplace=True)
aux = pd.concat([aux,adicionar]).sort_values('pregao')

In [276]:
#agora todos os daytrades devem estar todos marcados certo (soma por dia da coluna qtd tem q ser zero pra todos os ativos/dia)
e = aux[aux.daytrade].groupby(['pregao','nome']).sum()
e

                   qtd  financeiro  daytrade  turnover
pregao     nome
2020-02-11 PRIO3     0     -800864       1.0    800864
2020-03-02 TIET11    0      -27000       3.0   3497000
2020-03-13 CSNA3     0      147500      20.0  14947500
           GFSA3     0       15000       7.0   1791000
           HBOR3     0       33000       2.0   1365000
2020-04-08 PETR4     0      144000      56.0  60120000
2020-05-26 PRIO3     0    -1049600      34.0  59950400

In [277]:
#Quantidade de dinheiro ganhado no daytrade BVM (SEM INDICIE FUTURO) (ainda não estao incluidos os custos)
e['financeiro'].sum()/100

-15379.64

In [282]:
taxas_detalhadas = df_taxas[['nota','pregao','data_liquidacao','valor_liquido_operacoes','custos_operacionais','valor_liquido_para','IRRF','IRRF_daytrade']]
taxas_detalhadas

,nota,pregao,data_liquidacao,valor_liquido_operacoes,custos_operacionais,valor_liquido_para,IRRF,IRRF_daytrade
0,16956305,2019-10-17,2019-10-21,-10118900,-7690,-10126590,0,0
1,16977078,2019-10-18,2019-10-22,-12010200,-17661,-12028101,-240,0
2,16998228,2019-10-21,2019-10-23,1719500,-2706,1716794,0,0
3,17022090,2019-10-22,2019-10-24,8252200,-4771,8247017,-412,0
4,17045946,2019-10-23,2019-10-25,11977500,-12445,11964457,-598,0
...,...,...,...,...,...,...,...,...
88,23304421,2020-07-02,2020-07-06,-10042000,-5235,-10047235,0,0
89,23350981,2020-07-03,2020-07-07,23850000,-77055,23771753,-1192,0
90,23455410,2020-07-07,2020-07-09,8920500,-4892,8915162,-446,0
91,23555093,2020-07-09,2020-07-13,-23500000,-10271,-23510271,0,0
92,24061752,2020-07-22,2020-07-24,1277173,-6885,1270288,0,0

In [283]:
assert (df_taxas.valor_liquido_operacoes+df_taxas.custos_operacionais+df_taxas.IRRF+df_taxas.IRRF_daytrade == df_taxas.valor_liquido_para).all()
assert (aux.groupby(['nota']).sum().financeiro.values == taxas_detalhadas.valor_liquido_operacoes.values).all()

In [284]:
df_taxas[['nota','pregao','data_liquidacao','valor_liquido_operacoes','custos_operacionais','valor_liquido_para','IRRF','IRRF_daytrade']]

,nota,pregao,data_liquidacao,valor_liquido_operacoes,custos_operacionais,valor_liquido_para,IRRF,IRRF_daytrade
0,16956305,2019-10-17,2019-10-21,-10118900,-7690,-10126590,0,0
1,16977078,2019-10-18,2019-10-22,-12010200,-17661,-12028101,-240,0
2,16998228,2019-10-21,2019-10-23,1719500,-2706,1716794,0,0
3,17022090,2019-10-22,2019-10-24,8252200,-4771,8247017,-412,0
4,17045946,2019-10-23,2019-10-25,11977500,-12445,11964457,-598,0
...,...,...,...,...,...,...,...,...
88,23304421,2020-07-02,2020-07-06,-10042000,-5235,-10047235,0,0
89,23350981,2020-07-03,2020-07-07,23850000,-77055,23771753,-1192,0
90,23455410,2020-07-07,2020-07-09,8920500,-4892,8915162,-446,0
91,23555093,2020-07-09,2020-07-13,-23500000,-10271,-23510271,0,0
92,24061752,2020-07-22,2020-07-24,1277173,-6885,1270288,0,0

In [285]:
df_taxas.IRRF.sum()/100,df_taxas.IRRF_daytrade.sum()/100,taxas_detalhadas[['IRRF','IRRF_daytrade']].sum().sum()/100

(-723.04, -24.04, -747.08)

In [286]:
teste = aux.groupby(['nota','pregao','mes','nome','daytrade']).sum().reset_index()
teste

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover
0,16956305,2019-10-17,2019-10,BBAS3,False,1000,-4493000,4493000
1,16956305,2019-10-17,2019-10,ENEV3,False,1900,-5625900,5625900
2,16977078,2019-10-18,2019-10,BBAS3,False,400,-1859200,1859200
3,16977078,2019-10-18,2019-10,ITUB4,False,-1400,4809000,4809000
4,16977078,2019-10-18,2019-10,QUAL3,False,2000,-6710000,6710000
...,...,...,...,...,...,...,...,...
268,23350981,2020-07-03,2020-07,CIEL3,False,-50000,23850000,23850000
269,23455410,2020-07-07,2020-07,LWSA3,False,-2000,8920500,8920500
270,23555093,2020-07-09,2020-07,SQIA3,False,10000,-23500000,23500000
271,24061752,2020-07-22,2020-07,IRBR3,False,-1500,1219500,1219500
272,24061752,2020-07-22,2020-07,IRBR3 Direito de subscricao 6.93,False,-539,57673,57673

In [287]:
#valor em REAIS que foi cobrado a mais no 'taxa_liquidacoo'
print((-df_taxas.taxa_liquidacao-turnover.reset_index().turnover*0.0002795).sum()/100)
(-df_taxas.taxa_liquidacao-turnover.reset_index().turnover*0.0002795)/100

-357.9797066750007

0    -0.462326
1    -0.980819
2    -0.086003
3    -0.374899
4    -0.547113
        ...
88   -0.457390
89   -1.080750
90   -0.402798
91   -1.062500
92   -0.059699
Length: 93, dtype: float64

In [288]:
#valor em REAIS que foi cobrado a mais no 'emolumento'
print((-df_taxas.emolumentos-turnover.reset_index().turnover*0.00004105).sum()/100)
(-df_taxas.emolumentos-turnover.reset_index().turnover*0.00004105)/100

-7.7956241825000525

0     1.626192
1    -0.008376
2    -0.005855
3    -0.007528
4    -0.006764
        ...
88   -1.022241
89   -2.430425
90   -0.911865
91    6.803250
92   -0.134280
Length: 93, dtype: float64

In [289]:
#valor em centavos que foi cobrado a mais no 'imposto'
-df_taxas.impostos+(0.1068)*df_taxas.reset_index()['taxa_operacional']

0    -0.7040
1    -0.2600
2    -0.8520
3    -0.8520
4    -0.4080
       ...
88   -0.8520
89   -0.5180
90   -0.8520
91   -0.8520
92   -0.4492
Length: 93, dtype: float64

In [290]:
#valor em centavos que foi cobrado a mais na 'outros'
-df_taxas.outros+(0.039)*df_taxas.reset_index()['taxa_operacional']

0    -0.420
1    -0.550
2    -0.710
3    -0.710
4    -0.840
      ...
88   -0.710
89   -0.515
90   -0.710
91   -0.710
92   -0.091
Length: 93, dtype: float64

In [291]:
#taxa_liquidacoo
-turnover.reset_index().turnover*0.0002795/100
#emolumentos
-turnover.reset_index().turnover*0.00004105/100
#impostos
(0.1068)*df_taxas.reset_index()['taxa_operacional']/100
#outros
(0.039)*df_taxas.reset_index()['taxa_operacional']/100

0     -1.47420
1     -3.68550
2     -0.73710
3     -0.73710
4     -2.94840
        ...
88    -0.73710
89   -23.74515
90    -0.73710
91    -0.73710
92    -2.21091
Name: taxa_operacional, Length: 93, dtype: float64

In [292]:
custo_distribuido = aux.groupby(['nota','pregao','mes','nome','daytrade']).sum().reset_index()
custo_distribuido['custo'] = 0
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo
0,16956305,2019-10-17,2019-10,BBAS3,False,1000,-4493000,4493000,0
1,16956305,2019-10-17,2019-10,ENEV3,False,1900,-5625900,5625900,0
2,16977078,2019-10-18,2019-10,BBAS3,False,400,-1859200,1859200,0
3,16977078,2019-10-18,2019-10,ITUB4,False,-1400,4809000,4809000,0
4,16977078,2019-10-18,2019-10,QUAL3,False,2000,-6710000,6710000,0
...,...,...,...,...,...,...,...,...,...
268,23350981,2020-07-03,2020-07,CIEL3,False,-50000,23850000,23850000,0
269,23455410,2020-07-07,2020-07,LWSA3,False,-2000,8920500,8920500,0
270,23555093,2020-07-09,2020-07,SQIA3,False,10000,-23500000,23500000,0
271,24061752,2020-07-22,2020-07,IRBR3,False,-1500,1219500,1219500,0
272,24061752,2020-07-22,2020-07,IRBR3 Direito de subscricao 6.93,False,-539,57673,57673,0

In [293]:
for nota in set(teste.nota):
    constante = custo_distribuido[custo_distribuido.nota == nota].turnover.sum()
    custo_total = taxas_detalhadas[taxas_detalhadas.nota == nota].custos_operacionais.sum()
    fator = custo_total/constante
    custo_distribuido['custo'] = custo_distribuido['custo']+ custo_distribuido.nota.apply(lambda x : fator if x==nota else 0)*custo_distribuido.turnover

In [294]:
#valor infimo
custo_distribuido.groupby('nota')[['custo']].sum().values - taxas_detalhadas.groupby('nota')[['custos_operacionais']].sum().values

array([[ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-1.81898940e-12],
       [ 0.00000000e+00],
       [-1.45519152e-11],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-7.27595761e-12],
       [ 7.27595761e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-1.45519152e-11],
       [-1.45519152e-11],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 1.45519152e-11],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-7.27595761e-12],
       [-7.27595761e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-1.45519152e-11],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-3.63797881e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 3.63797881e-12],
       [ 7.27595761e-12],
       [ 0.00000000e+00],
       [-7.27595761e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 1.81898940e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 1.45519152e-11],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 3.63797881e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-1.45519152e-11],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 3.63797881e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 9.09494702e-13],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00]])

In [295]:
custo_distribuido = custo_distribuido.merge(taxas_detalhadas[['nota','data_liquidacao']],left_on='nota', right_on='nota')
custo_distribuido.head(6)

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao
0,16956305,2019-10-17,2019-10,BBAS3,False,1000,-4493000,4493000,-3414.518377,2019-10-21
1,16956305,2019-10-17,2019-10,ENEV3,False,1900,-5625900,5625900,-4275.481623,2019-10-21
2,16977078,2019-10-18,2019-10,BBAS3,False,400,-1859200,1859200,-1518.172164,2019-10-22
3,16977078,2019-10-18,2019-10,ITUB4,False,-1400,4809000,4809000,-3926.898632,2019-10-22
4,16977078,2019-10-18,2019-10,QUAL3,False,2000,-6710000,6710000,-5479.203540,2019-10-22
5,16977078,2019-10-18,2019-10,RAPT4,False,7500,-8250000,8250000,-6736.725664,2019-10-22

In [296]:
custo_distribuido['aux'] = custo_distribuido['financeiro'] +custo_distribuido['custo']
custo_distribuido['aux']=custo_distribuido['aux'].apply(int)/100
custo_distribuido[['pregao','data_liquidacao','nome','daytrade','aux']]

,pregao,data_liquidacao,nome,daytrade,aux
0,2019-10-17,2019-10-21,BBAS3,False,-44964.14
1,2019-10-17,2019-10-21,ENEV3,False,-56301.75
2,2019-10-18,2019-10-22,BBAS3,False,-18607.18
3,2019-10-18,2019-10-22,ITUB4,False,48050.73
4,2019-10-18,2019-10-22,QUAL3,False,-67154.79
...,...,...,...,...,...
268,2020-07-03,2020-07-07,CIEL3,False,237729.45
269,2020-07-07,2020-07-09,LWSA3,False,89156.08
270,2020-07-09,2020-07-13,SQIA3,False,-235102.71
271,2020-07-22,2020-07-24,IRBR3,False,12129.25
272,2020-07-22,2020-07-24,IRBR3 Direito de subscricao 6.93,False,573.62

In [ ]:
custo_distribuido[custo_distribuido.pregao<'2019-11-01'].

In [321]:
custo_distribuido[custo_distribuido.pregao<'2019-12-01'].aux.sum()+805377.50-1380029.61

-6562.54000000027

In [326]:
t = custo_distribuido[custo_distribuido.pregao<'2021-04-01'].groupby(['nome']).sum()

In [327]:
t[t.qtd!=0]

,daytrade,qtd,financeiro,turnover,custo,aux
nome,,,,,,
BBAS3,0.0,-100,-961400,290881000,-116267.935170,-10776.69
BBDC4,0.0,-100,373400,373400,-2222.700091,3711.77
BOVA11,0.0,-9970,145881290,332674450,-134302.192454,1457469.86
BTOW3,0.0,-100,637500,637500,-297.284867,6372.02
DSHFOSDHFOISDFJSDPOOFJSPOFJSDPF,0.0,-290,2598342,2598342,-1691.429815,25966.50
DSHFOSadlfsldflsdfsdF,0.0,290,-101500,101500,-326.528385,-1018.26
GBIO33,0.0,55000,-44049900,220989900,-91034.431789,-441409.34
IRBR3 Direito de subscricao 6.93,0.0,-539,57673,57673,-310.904321,573.62
ITUB4,0.0,-180,-1537300,21815500,-31956.140471,-15692.56
LOGG3,0.0,-1500,3585600,3585600,-2004.064482,35835.95
MDIA3,0.0,-100,396900,396900,-2362.586144,3945.37
OIBR3,0.0,250100,-15592600,213398600,-120708.779055,-157133.08
PPLA11,0.0,37700,-1611300,8310700,-63200.298324,-16745.00
SQIA3,0.0,106400,-248520400,405232200,-192416.005206,-2487128.14
TUPY3,0.0,-100,239200,239200,-159.016427,2390.40
VALE3,0.0,-100,546900,546900,-363.570585,5465.36

In [310]:
print(custo_distribuido[custo_distribuido.nome=='PRIO3'].aux.sum())
custo_distribuido[custo_distribuido.nome=='PRIO3']

73058.20999999999

,,daytrade,qtd,financeiro,turnover,custo,aux
pregao,nome,,,,,,
2019-12-26,PRIO3,False,5000,-17305000,17305000,-8069.826871,-173130.69
2020-01-10,PRIO3,False,-5000,17750000,17750000,-69281.506002,176807.18
2020-01-15,PRIO3,False,12000,-50267300,50267300,-41447.769400,-503087.47
2020-01-21,PRIO3,False,7200,-32198400,32198400,-70451.074519,-322688.51
2020-01-24,PRIO3,False,1700,-7998500,7998500,-29184.278942,-80276.84
2020-01-28,PRIO3,False,30700,-141319600,141319600,-48364.928415,-1413679.64
2020-01-29,PRIO3,False,4200,-19954200,19954200,-50501.982644,-200047.01
2020-01-31,PRIO3,False,2000,-9730000,9730000,-25871.790906,-97558.71
2020-02-07,PRIO3,False,-30000,144610000,144610000,-62281.003039,1445477.18
2020-02-11,PRIO3,True,-21300,96054200,97655928,-107927.579442,959462.72
2020-02-13,PRIO3,False,-6500,29217500,29217500,-93903.964297,291235.96
2020-04-30,PRIO3,False,4000,-8180000,8180000,-3993.520723,-81839.93
2020-05-06,PRIO3,False,-4000,8316000,8316000,-7554.308334,83084.45
2020-05-26,PRIO3,True,0,-1049600,59950400,-20448.665819,-10700.48

In [304]:
custo_distribuido[custo_distribuido.daytrade]

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
148,19172474,2020-02-11,2020-02,PRIO3,True,0,-800864,800864,-885.100523,2020-02-13,-8017.49
193,19566442,2020-03-02,2020-03,TIET11,True,0,-27000,3497000,-1525.378067,2020-03-04,-285.25
210,19975885,2020-03-13,2020-03,CSNA3,True,0,147500,14947500,-76715.161766,2020-03-17,707.84
211,19975885,2020-03-13,2020-03,GFSA3,True,0,15000,1791000,-9191.962182,2020-03-17,58.08
212,19975885,2020-03-13,2020-03,HBOR3,True,0,33000,1365000,-7005.599318,2020-03-17,259.94
226,20710338,2020-04-08,2020-04,PETR4,True,0,144000,60120000,-21014.903951,2020-04-13,1229.85
252,21967466,2020-05-26,2020-05,PRIO3,True,0,-1049600,59950400,-20448.665819,2020-05-28,-10700.48

In [303]:
custo_distribuido[custo_distribuido.daytrade].aux.sum()+8017.49+10700.48

1970.4599999999973

In [297]:
custo_distribuido[custo_distribuido.daytrade].groupby(['pregao','nome']).sum()

                   daytrade  qtd  financeiro  turnover         custo       aux
pregao     nome
2020-02-11 PRIO3       True    0     -800864    800864   -885.100523  -8017.49
2020-03-02 TIET11      True    0      -27000   3497000  -1525.378067   -285.25
2020-03-13 CSNA3       True    0      147500  14947500 -76715.161766    707.84
           GFSA3       True    0       15000   1791000  -9191.962182     58.08
           HBOR3       True    0       33000   1365000  -7005.599318    259.94
2020-04-08 PETR4       True    0      144000  60120000 -21014.903951   1229.85
2020-05-26 PRIO3       True    0    -1049600  59950400 -20448.665819 -10700.48

In [182]:
(24.09*98700+custo_distribuido[custo_distribuido.nome=='SQIA3'].aux.sum())*15/100

49052.765999999996

In [173]:
-custo_distribuido[custo_distribuido.nome=='SQIA3'].aux.sum()

2050664.56

In [174]:
custo_distribuido[~custo_distribuido.daytrade][custo_distribuido.nome!='SQIA3'].aux.sum()

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

351459.52

In [165]:
custo_distribuido[custo_distribuido.daytrade].aux.sum()

26152.139999999996

In [104]:
custo_distribuido[custo_distribuido.nome=='oibr3'.upper()][['pregao','data_liquidacao','nome','daytrade','aux']]

        pregao data_liquidacao   nome  daytrade         aux
16  2020-05-04      2020-05-06  OIBR3      True    31251.10
35  2020-06-15      2020-06-17  OIBR3     False -1019030.78
40  2020-06-18      2020-06-22  OIBR3     False  1096598.12
41  2020-06-23      2020-06-25  OIBR3     False  -514059.86
42  2020-06-26      2020-06-30  OIBR3     False  -232093.07
45  2020-07-24      2020-07-28  OIBR3     False   -50437.04
46  2020-07-31      2020-08-04  OIBR3     False  1184096.06

In [101]:
custo_distribuido[custo_distribuido.nome =='BBAS3']

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,16956305,2019-10-17,2019-10,BBAS3,False,1000,-4493000,4493000,-3414.518377,2019-10-21,-44964.14
2,16977078,2019-10-18,2019-10,BBAS3,False,400,-1859200,1859200,-1518.172164,2019-10-22,-18607.18
10,17076198,2019-10-24,2019-10,BBAS3,False,-30200,144420200,144420200,-60106.222752,2019-10-28,1443600.93

In [102]:
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,16956305,2019-10-17,2019-10,BBAS3,False,1000,-4493000,4493000,-3414.518377,2019-10-21,-44964.14
1,16956305,2019-10-17,2019-10,ENEV3,False,1900,-5625900,5625900,-4275.481623,2019-10-21,-56301.75
2,16977078,2019-10-18,2019-10,BBAS3,False,400,-1859200,1859200,-1518.172164,2019-10-22,-18607.18
3,16977078,2019-10-18,2019-10,ITUB4,False,-1400,4809000,4809000,-3926.898632,2019-10-22,48050.73
4,16977078,2019-10-18,2019-10,QUAL3,False,2000,-6710000,6710000,-5479.203540,2019-10-22,-67154.79
5,16977078,2019-10-18,2019-10,RAPT4,False,7500,-8250000,8250000,-6736.725664,2019-10-22,-82567.36
6,16998228,2019-10-21,2019-10,ITUB4,False,-500,1719500,1719500,-2706.000000,2019-10-23,17167.94
7,17022090,2019-10-22,2019-10,RAPT4,False,-7500,8252200,8252200,-4771.000000,2019-10-24,82474.29
8,17045946,2019-10-23,2019-10,ENEV3,False,-1900,5787500,5787500,-6013.394907,2019-10-25,57814.86
9,17045946,2019-10-23,2019-10,QUAL3,False,-2000,6190000,6190000,-6431.605093,2019-10-25,61835.68
10,17076198,2019-10-24,2019-10,BBAS3,False,-30200,144420200,144420200,-60106.222752,2019-10-28,1443600.93
11,17076198,2019-10-24,2019-10,ITUB4,False,1900,-6933800,6933800,-2885.777248,2019-10-28,-69366.85
12,17161639,2019-10-30,2019-10,BRML3,False,2500,-3832500,3832500,-3626.148115,2019-11-01,-38361.26
13,17161639,2019-10-30,2019-10,IGTA3,False,600,-2850000,2850000,-2696.548500,2019-11-01,-28526.96
14,17161639,2019-10-30,2019-10,MULT3,False,1300,-3799900,3799900,-3595.303385,2019-11-01,-38034.95
15,17185052,2019-10-31,2019-10,BRML3,False,2500,-3840000,3840000,-3378.175947,2019-11-04,-38433.78
16,17185052,2019-10-31,2019-10,IGTA3,False,800,-3839600,3839600,-3377.824053,2019-11-04,-38429.77

In [127]:
pq

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,16956305,2019-10-17,2019-10,BBAS3,False,1000.0,-4.493000e+06,4.493000e+06,-3414.518377,2019-10-21,-44964.140000
1,16956305,2019-10-17,2019-10,ENEV3,False,1900.0,-5.625900e+06,5.625900e+06,-4275.481623,2019-10-21,-56301.750000
2,16977078,2019-10-18,2019-10,BBAS3,False,400.0,-1.859200e+06,1.859200e+06,-1518.172164,2019-10-22,-18607.180000
3,16977078,2019-10-18,2019-10,ITUB4,False,-1400.0,4.809000e+06,4.809000e+06,-3926.898632,2019-10-22,48050.730000
4,16977078,2019-10-18,2019-10,QUAL3,False,2000.0,-6.710000e+06,6.710000e+06,-5479.203540,2019-10-22,-67154.790000
5,16977078,2019-10-18,2019-10,RAPT4,False,7500.0,-8.250000e+06,8.250000e+06,-6736.725664,2019-10-22,-82567.360000
6,16998228,2019-10-21,2019-10,ITUB4,False,-500.0,1.719500e+06,1.719500e+06,-2706.000000,2019-10-23,17167.940000
7,17022090,2019-10-22,2019-10,RAPT4,False,-7500.0,8.252200e+06,8.252200e+06,-4771.000000,2019-10-24,82474.290000
8,17045946,2019-10-23,2019-10,ENEV3,False,-1900.0,5.787500e+06,5.787500e+06,-6013.394907,2019-10-25,57814.860000
9,17045946,2019-10-23,2019-10,QUAL3,False,-2000.0,6.190000e+06,6.190000e+06,-6431.605093,2019-10-25,61835.680000
10,17076198,2019-10-24,2019-10,BBAS3,False,-1400.0,6.694976e+06,6.694976e+06,-2786.381187,2019-10-28,66921.897417
11,17076198,2019-10-24,2019-10,ITUB4,False,1900.0,-6.933800e+06,6.933800e+06,-2885.777248,2019-10-28,-69366.850000

In [140]:
pq[pq.nome=='ITUB4'].aux.sum()

-4148.180000000008

In [133]:
5787500.0-5625900.0

161600.0

In [134]:
57814.86-56301.75

1513.1100000000006

In [ ]:
4696.672582781459

In [128]:
custo_distribuido.loc[:11,:].groupby('nome').sum().financeiro.sum()

137306500

In [122]:
custo_distribuido.loc[:11,:].groupby('nome').sum()[['qtd']]

       qtd
nome
BBAS3  0.0
ENEV3  0.0
ITUB4  0.0
QUAL3  0.0
RAPT4  0.0

In [99]:
custo_distribuido.groupby('nome').sum()[['qtd']]

         qtd
nome
BBAS3 -28800
BRML3   5000
ENEV3      0
IGTA3   1400
ITUB4      0
MULT3   1300
QUAL3      0
RAPT4      0

In [100]:
qtd = aux.groupby(by=['pregao','nome']).sum()[["qtd"]].reset_index().pivot(index='nome',columns='pregao', values='qtd').fillna(0)
qtd

pregao,2019-10-17,2019-10-18,2019-10-21,2019-10-22,2019-10-23,2019-10-24,2019-10-30,2019-10-31
nome,,,,,,,,
BBAS3,1000.0,400.0,0.0,0.0,0.0,-30200.0,0.0,0.0
BRML3,0.0,0.0,0.0,0.0,0.0,0.0,2500.0,2500.0
ENEV3,1900.0,0.0,0.0,0.0,-1900.0,0.0,0.0,0.0
IGTA3,0.0,0.0,0.0,0.0,0.0,0.0,600.0,800.0
ITUB4,0.0,-1400.0,-500.0,0.0,0.0,1900.0,0.0,0.0
MULT3,0.0,0.0,0.0,0.0,0.0,0.0,1300.0,0.0
QUAL3,0.0,2000.0,0.0,0.0,-2000.0,0.0,0.0,0.0
RAPT4,0.0,7500.0,0.0,-7500.0,0.0,0.0,0.0,0.0

In [109]:
financeiro = aux.groupby(by=['pregao','nome']).sum()[["financeiro"]].reset_index().pivot(index='nome',columns='pregao', values='financeiro').fillna(0)
financeiro/100

pregao,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-16,2020-04-24,2020-04-29,2020-04-30,2020-05-04,2020-05-06,...,2020-06-15,2020-06-16,2020-06-17,2020-06-18,2020-06-23,2020-06-26,2020-07-02,2020-07-08,2020-07-24,2020-07-31
nome,,,,,,,,,,,,,,,,,,,,,
BOVA11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,702155.8,0.0,-340078.2,-385155.0,0.0,0.0,0.0,0.0,0.0,0.0
BPAC11,0.0,0.0,7700.0,0.0,-606300.0,0.0,0.0,0.0,0.0,0.0,...,61360.0,378852.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CNTO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-101120.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
COGN3,0.0,0.0,0.0,0.0,-981000.0,0.0,1006200.0,-221600.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENEV3,3251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GBIO33,0.0,-155993.0,-99750.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,268731.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
LWSA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-55253.0,49951.0,0.0,0.0
MGLU3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OIBR3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31746.0,0.0,...,-1018500.0,0.0,0.0,1097000.0,-513880.0,-232000.0,0.0,0.0,-50400.0,1184480.0
PETR4,0.0,0.0,-346280.0,335334.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PRIO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-81800.0,0.0,83547.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SQIA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TIET11,0.0,0.0,0.0,0.0,-479100.0,420835.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRIS3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VALE3,0.0,0.0,0.0,0.0,-126987.0,0.0,0.0,0.0,0.0,131490.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [110]:
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,20630020,2020-04-06,2020-04,ENEV3,True,0,325100,59671100,-21518.000000,2020-04-08,3035.82
1,20665692,2020-04-07,2020-04,GBIO33,False,16400,-15599300,15599300,-11253.000000,2020-04-09,-156105.53
2,20702999,2020-04-08,2020-04,BPAC11,True,0,770000,76750000,-23216.156106,2020-04-13,7467.83
3,20702999,2020-04-08,2020-04,GBIO33,False,10500,-9975000,9975000,-3017.344067,2020-04-13,-99780.17
4,20702999,2020-04-08,2020-04,PETR4,False,20000,-34520000,34520000,-10441.976662,2020-04-13,-345304.41
5,20702999,2020-04-08,2020-04,PETR4,True,0,-108000,60516000,-18305.523165,2020-04-13,-1263.05
6,20739679,2020-04-09,2020-04,PETR4,False,-20000,33533400,33533400,-12393.000000,2020-04-14,335210.07
7,20888575,2020-04-16,2020-04,BPAC11,False,15000,-60630000,60630000,-20889.748868,2020-04-20,-606508.89
8,20888575,2020-04-16,2020-04,COGN3,False,180000,-98100000,98100000,-33799.841068,2020-04-20,-981337.99
9,20888575,2020-04-16,2020-04,TIET11,False,30000,-47910000,47910000,-16507.139506,2020-04-20,-479265.07
10,20888575,2020-04-16,2020-04,VALE3,False,3000,-12698700,12698700,-4375.270558,2020-04-20,-127030.75
11,21094769,2020-04-24,2020-04,TIET11,False,-30000,42083500,42083500,-17167.000000,2020-04-28,420663.33
12,21232388,2020-04-29,2020-04,COGN3,False,-180000,100620000,100620000,-36877.000000,2020-05-04,1005831.23
13,21276284,2020-04-30,2020-04,CNTO3,False,3200,-10112000,10112000,-5112.244438,2020-05-05,-101171.12
14,21276284,2020-04-30,2020-04,COGN3,False,40000,-22160000,22160000,-11203.257194,2020-05-05,-221712.03
15,21276284,2020-04-30,2020-04,PRIO3,False,4000,-8180000,8180000,-4135.498368,2020-05-05,-81841.35
16,21318905,2020-05-04,2020-05,OIBR3,True,0,3174600,203174400,-49490.000000,2020-05-06,31251.10
17,21398427,2020-05-06,2020-05,PRIO3,False,-4000,8354700,8354700,-4258.609760,2020-05-08,83504.41
18,21398427,2020-05-06,2020-05,VALE3,False,-3000,13149000,13149000,-6702.390240,2020-05-08,131422.97
19,21437610,2020-05-07,2020-05,CNTO3,False,7000,-19747000,19747000,-9286.191573,2020-05-11,-197562.86
20,21437610,2020-05-07,2020-05,TRIS3,False,10000,-7000000,7000000,-3291.808427,2020-05-11,-70032.91
21,21480312,2020-05-08,2020-05,BPAC11,False,-15000,56567700,56567700,-29546.801587,2020-05-12,565381.53
22,21480312,2020-05-08,2020-05,CNTO3,False,-10200,27554800,27554800,-14392.598751,2020-05-12,275404.07
23,21480312,2020-05-08,2020-05,TRIS3,False,-10000,6973800,6973800,-3642.599662,2020-05-12,69701.57
24,21517810,2020-05-11,2020-05,COGN3,False,-40000,18120000,18120000,-7752.000000,2020-05-13,181122.48
25,21957173,2020-05-26,2020-05,BPAC11,True,0,-1475500,201567500,-56987.733437,2020-05-28,-15324.87
26,21957173,2020-05-26,2020-05,MGLU3,True,0,458100,127840500,-36143.427569,2020-05-28,4219.56
27,21957173,2020-05-26,2020-05,PRIO3,True,0,-303600,60836400,-17199.838994,2020-05-28,-3207.99
28,22186883,2020-06-02,2020-06,SQIA3,False,54600,-112016600,112016600,-98013.000000,2020-06-04,-1121146.13
29,22248052,2020-06-03,2020-06,BPAC11,False,6900,-39340500,39340500,-22420.378813,2020-06-05,-393629.20
30,22248052,2020-06-03,2020-06,SQIA3,False,44100,-92898900,92898900,-52943.621187,2020-06-05,-929518.43
31,22678282,2020-06-15,2020-06,BOVA11,False,-7890,70206355,70206355,-36587.470369,2020-06-17,701697.67
32,22678282,2020-06-15,2020-06,BOVA11,True,0,9225,9225,-4.807534,2020-06-17,92.20
33,22678282,2020-06-15,2020-06,BPAC11,False,-1000,6136000,6136000,-3197.726448,2020-06-17,61328.02
34,22678282,2020-06-15,2020-06,GBIO33,False,-26900,26873100,26873100,-14004.697295,2020-06-17,268590.95
35,22678282,2020-06-15,2020-06,OIBR3,False,1050000,-101850000,101850000,-53078.298355,2020-06-17,-1019030.78
36,22735373,2020-06-16,2020-06,BPAC11,False,-5900,37889900,37889900,-21085.212601,2020-06-18,378688.14
37,22735373,2020-06-16,2020-06,BPAC11,True,0,-4700,12842700,-7146.787399,2020-06-18,-118.46
38,22786430,2020-06-17,2020-06,BOVA11,False,3740,-34007820,34007820,-12635.000000,2020-06-19,-340204.55
39,22832122,2020-06-18,2020-06,BOVA11,False,4150,-38515500,38515500,-14109.699077,2020-06-22,-385296.09
40,22832122,2020-06-18,2020-06,OIBR3,False,-1050000,109700000,109700000,-40187.300923,2020-06-22,1096598.12
41,22978456,2020-06-23,2020-06,OIBR3,False,443000,-51388000,51388000,-17986.000000,2020-06-25,-514059.86
42,23111532,2020-06-26,2020-06,OIBR3,False,200000,-23200000,23200000,-9307.000000,2020-06-30,-232093.07
43,23293801,2020-07-02,2020-07,LWSA3,False,1100,-5525300,5525300,-3853.000000,2020-07-06,-55291.53
44,23496146,2020-07-08,2020-07,LWSA3,False,-1100,4995100,4995100,-3690.000000,2020-07-10,49914.10
45,24165749,2020-07-24,2020-07,OIBR3,False,30000,-5040000,5040000,-3704.000000,2020-07-28,-50437.04
46,24433627,2020-07-31,2020-07,OIBR3,False,-673000,118448000,118448000,-38394.000000,2020-08-04,1184096.06

In [621]:
custo_distribuido[custo_distribuido.mes.isin(['2020-04','2020-05'])][custo_distribuido.daytrade].financeiro.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

28407.0

In [623]:
custo_distribuido[custo_distribuido.mes.isin(['2020-04','2020-05'])][custo_distribuido.daytrade].custo.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-2228.6067927113077

In [635]:
#Imposto de renda relativo a daytrade pra ser pago no final do mes 6,referente ao mês 5
(28407.0-2228.6067927113077-12664.86 -12828.95 )*20/100 + taxas_detalhadas.IRRF_daytrade.sum()/100

-268.4633585422617

In [652]:
custo_distribuido[~custo_distribuido.daytrade][~custo_distribuido.nome.isin(['OIBR3','SQIA3'])].financeiro.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-109637.65

In [650]:
custo_distribuido[~custo_distribuido.daytrade][~custo_distribuido.nome.isin(['OIBR3','SQIA3'])].custo.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-3976.2850533131127