In [1]:
import os
from tika import parser
import re
import pandas as pd
from bs4 import BeautifulSoup

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  


path = os.getcwd()

In [2]:
path

'C:\\Users\\luiz.cavalcante\\Desktop\\IR\\Pai'

In [3]:
#path = r"C:\Users\luiz\Desktop\SERGIO"
path=path+"\\"

In [123]:
folders = list(filter(lambda x: x[-4:]=='.pdf',os.listdir(path)))
historico = []
taxa =[]
for pdf in folders:
    a = parser.from_file(path+pdf)['content']
    a = re.sub('\n+', '\n', a)
    if 'NEGOCIAÇÃO' in a:
        a = re.sub('NEGOCIAÇÃO', 'CORRETAGEM', a)
        a = re.sub('Total Custos','Total corretagem', a)
        #print("ALERTA",pdf)
    folhas = re.findall(r"Data pregão(.*?)XP",a.replace('\n',''))
    aux = '_'.join(folhas[0].split('/')[::-1])
    #print(aux)
    os.rename(path+pdf,path+aux+".pdf")

In [128]:
folders = list(filter(lambda x: x[-4:]=='.pdf',os.listdir(path)))
historico = []
taxa =[]
for pdf in folders:
    a = parser.from_file(path+pdf)['content']
    a = re.sub('\n+', '\n', a)
    #########
    if 'NEGOCIAÇÃO' in a:
        a = re.sub('NEGOCIAÇÃO', 'CORRETAGEM', a)
        a = re.sub('Total Custos','Total corretagem', a)
    if 'WIN' in a:
        print("ALERTA WIN",pdf)
    if 'IND '  in a:
        print("ALERTA IND",pdf)
    ##########
    folhas = re.findall(r"NOTA DE CORRETAGEMNr. nota(.*?)Folha(.*?)Data pregão(.*?)XP",a.replace('\n',''))

    taxas = re.findall(r"Precatório\n([(0-9|.|,)]*)Total CBLC (D|C)\n([(0-9|.|,)]*)Valor líquido das operações (D|C)\n([(0-9|.|,)]*)Taxa de liquidação (D|C)\n([(0-9|.|,)]*)Taxa de Registro (D|C)\n([(0-9|.|,)]*)Total Bovespa / Soma (D|C)\n([(0-9|.|,)]*)Taxa de termo/opções (D|C)\n([(0-9|.|,)]*)Taxa A.N.A. (D|C)\n([(0-9|.|,)]*)Emolumentos (D|C)\n \n([(0-9|.|,)]*)Total corretagem / Despesas (D|C)\n \n([(0-9|.|,)]*)Taxa Operacional (D|C)\n([(0-9|.|,)]*)Execução\n([(0-9|.|,)]*)Taxa de Custódia\n([(0-9|.|,)]*)Impostos (D|C)\n([(0-9|.|,)]*)I.R.R.F. s/ operações, base R\$(.*?)\n([(0-9|.|,)]*)Outros (C|D)\n([(0-9|.|,)]*)Líquido para (.*?) (C|D)",a)
    #print(taxas)
    for i in range(len(taxas)):
        taxas[i] = list(taxas[i])

        if taxas[i][-6][-1] != "D":
            taxas[i][-7] = '0,00'
        assert taxas[i][20] == taxas[i][20] =='0,00'
        for j in range(15):
            if taxas[i][2*j+1][-1] == 'D':
                taxas[i][2*j] = '-'+taxas[i][2*j]
        if taxas[i][-1] == 'D':
                taxas[i][-3] = '-'+taxas[i][-3]
        taxas[i] = list(map(lambda x : int(x.replace('.','').replace(',','')) if not '/' in x else '-'.join(x.split('/')[::-1]),taxas[i][:-1:2] +[taxas[i][-2]]+[taxas[i][-6].split(' ')[0]]))
        try:
            #É necessario que so haja um lucro_daytrade,IRRF_daytrade por pdf se não vai dar erro
            lucro_daytrade,IRRF_daytrade = re.findall(r"IRRF Day Trade: Base R\$ (.*?) Projeção R\$ (.*?)\n",a)[0]
            taxas[i].append(-int(lucro_daytrade.replace('.','').replace(',','')))
            taxas[i].append(-int(IRRF_daytrade.replace('.','').replace(',','')))
        except:
            taxas[i].append(0)
            taxas[i].append(0)
        if taxas[i][0] == 337888 and taxas[i][1] == 337980 and taxas[i][-4] == '2020-01-31':
            taxas[i][-7] =taxas[i][-7]  -16
            taxas[i][8] = taxas[i][8] -16
        assert taxas[i][0] == sum(taxas[i][1:4])
        assert taxas[i][4] == sum(taxas[i][5:8])
        assert taxas[i][8] == sum(taxas[i][9:14])
        assert taxas[i][0] + taxas[i][4]+ taxas[i][8] + taxas[i][-1]== taxas[i][-5]
    #for k in taxas:
    #    print(k[-1],k[-5])
    #    print((k[1]*(1+0.00004105+0.0002795)+k[9]*(0.1068+0.039+1))/100 - k[-3]/100)

    trades = re.findall(r"Negócios realizadosQ Negociação C/V Tipo mercado Prazo Especificação do título Obs. \(\*\) Quantidade Preço / Ajuste Valor Operação / Ajuste D/C(.*?)NOTA DE CORRETAGEM",a.replace('\n',''))
    trades2 = re.findall(r"CONTINUA...Corretagem / DespesasLíquido paraObservação: \(1\) As operações a termo não são computadas no líquido da fatura.Capitais e regiões metropolitanas: 4003-3710 Demais localidades: 0800-880-3710 SAC: 0800-772-0202 Ouvidoria: 0800-722-3710(.*?)Negócios realizadosQ Negociação C/V Tipo mercado Prazo Especificação do título Obs. \(\*\) Quantidade Preço / Ajuste Valor Operação / Ajuste D/CNOTA DE CORRETAGEM",a.replace('\n',''))

    assert trades.count('') == len(trades2)
    for i,j in enumerate(folhas):
        if j[1] != '1':
            assert trades[i] == ''
            trades[i] = trades2[0]
            trades2 = trades2[1:]


        aux = filter(lambda x: x !='',trades[i].split('1-'))
        aux2 = map(lambda x : re.findall(r"^(.*?) (C|V) (.*?) (.*?) ([(0-9|.|,)]*) ([(0-9|.|,)]*) ([(0-9|.|,)]*) (D|C)$",x)[0],aux)
        aux3 = map(lambda x : [x[0],x[1],x[2],re.sub(' +', ' ', x[3]).strip(),x[4].replace('.','').replace(',','.'),x[5].replace('.','').replace(',','.'),x[6].replace('.','').replace(',','.'),x[7]],aux2)
        folhas[i] = [j[0],j[1],'-'.join(j[2].split('/')[::-1]),list(aux3)] 

    assert len(trades2)==0

    folhas = folhas[::-1]
    for i,k in enumerate(folhas):
        #Aqui to perdendo a info do marcado D do daytrade no nome do ativo
        k[3] = list(map(lambda x : (k[0],k[2],re.sub(r'(#$| #$| #2$)','', x[3]),int('-'+x[4]),x[5],int(x[6].replace('.',''))) if x[1] == 'V' else (k[0],k[2],re.sub(r'(#$| #$| #2$)','', x[3]),int(x[4]),x[5],int('-'+x[6].replace('.',''))) ,k[3]))
        if i != 0:
            if folhas[i-1][1] != '1':
                folhas[i][3]= folhas[i][3]+folhas[i-1][3]
    folhas = list(filter(lambda x: x[1] == '1',folhas[::-1]))
    folhas = list(map(lambda x: x[3],folhas))
    assert len(folhas)==len(taxas)

    historico.append([n for m in folhas for n in m])
    taxa.append(taxas)
historico,taxa = [n for m in historico for n in m],[z for x in taxa for z in x]

ALERTA WIN 2020_01_28.pdf
ALERTA WIN 2020_02_11.pdf
ALERTA WIN 2020_03_05.pdf
ALERTA WIN 2020_04_03.pdf
ALERTA IND 2020_04_03.pdf
ALERTA WIN 2020_05_04.pdf
ALERTA IND 2020_05_04.pdf
ALERTA WIN 2020_07_31.pdf

In [133]:

def translate_tickers(nome):
    tickers={
        'BTGP BANCO UNT N2':'BPAC11',
        'BTGP BANCO UNT N2 D':'BPAC11',
        'ENEVA ON NM':'ENEV3',
        'ENEVA ON NM D':'ENEV3',
        'BIOTOSCANA DR3':'GBIO33',
        'BIOTOSCANA DR3 D#2':'GBIO33',
        'BIOTOSCANA DR3 D':'GBIO33',
        'QUALICORP ON ER NM':'QUAL3',
        'QUALICORP ON NM':'QUAL3',
        'BRASIL ON NM #2D':'BBAS3',
        'BRASIL ON NM':'BBAS3',
        'BRASIL ON NM D':'BBAS3',
        'SINQIA ON NM':'SQIA3',
        'AES TIETE E UNT ED N2':'TIET11',
        'AES TIETE E UNT N2':'TIET11',
        'BRADESCO PN EJB N1':'BBDC4',
        'BRADESCO PN N1':'BBDC4',
        'BRADESCO ON EJB N1':'BBDC3',
        'BRADESCO ON N1':'BBDC3',
        'ITAUUNIBANCO PN ED N1':'ITUB4',
        'ITAUUNIBANCO PN N1':'ITUB4',
        'JBS ON ED NM':'JBSS3',
        'JBS ON NM':'JBSS3',
        'LOJAS RENNER ON EDB NM':'LREN3',
        'PETROBRAS PN N2 D':'PETR4',
        'LOJAS RENNER ON NM':'LREN3',
        'P.ACUCAR-CBD PN EJ N1':'PCAR4',
        'P.ACUCAR-CBD PN N1':'PCAR4',
        'PETROBRAS PN ED N2':'PETR4',
        'PETROBRAS PN N2':'PETR4',
        'BRASIL ON NM D':'BBAS3',
        'VALE ON NM':'VALE3',
        'AZUL PN N2':'AZUL4',
        'OI ON N1':'OIBR3',
        'OI ON N1 D':'OIBR3',
        'OI ON N1 D#2':'OIBR3',
        'B2W DIGITAL ON NM':'BTOW3',
        'ENGIE BRASIL ON NM':'EGIE3',
        'EQUATORIAL ON NM':'EQTL3',
        'LOCALIZA ON NM':'RENT3',
        'SUZANO PAPEL ON NM':'SUZB3',
        'CARREFOUR BR ON NM':'CRFB3',
        'TIM PART S/A ON NM':'TIMP3',
        'SUL AMERICA UNT N2':'SULA11',
        'MULTIPLAN ON N2':'MULT3',
        'TRAN PAULIST PN N1':'TRPL4',
        'RUMO S.A. ON NM':'RAIL3',
        'LOJAS RENNER ON ED NM D':'LREN3',
        'EZTEC ON NM':'EZTC3',
        'EZTEC ON EDB NM':'EZTC3',
        'B3 ON NM':'B3SA3',
        'ISHARES BOVA CI ATZ':'BOVA11',
        'LOCAWEB ON NM':'LWSA3',
        'RANDON PART PN N1':'RAPT4',
        'IGUATEMI ON NM' : 'IGTA3',
        'BR MALLS PAR ON NM':'BRML3',
        'MAGAZ LUIZA ON NM D':'MGLU3',
        'MAGAZ LUIZA ON NM':'MGLU3',
        'CVC BRASIL ON NM':'CVCB3',
        'TOTVS ON NM':'TOTS3',
        'KEPLER WEBER ON EJ':'KEPL3',
        'KEPLER WEBER ON':'KEPL3',
        'TUPY ON NM':'TUPY3',
        'PETRORIO ON NM':'PRIO3',
        'PETRORIO ON NM D':'PRIO3',
        'PETRORIO ON NM D#2':'PRIO3',
        'VIAVAREJO ON NM':'VVAR3',
        'VIAVAREJO ON NM D':'VVAR3',
        'CENTAURO ON NM':'CNTO3',
        'ELETROBRAS ON N1':'ELET3',
        'BRADESCO PN EJ N1':'BBDC4',
        'M.DIASBRANCO ON EJ NM':'MDIA3',
        'CIELO ON NM D' : 'CIEL3',
        'ABC BRASIL PN EJ N2':'ABCB4',
        'CAMIL ON NM':'CAML3',
        'GRUPO NATURA ON NM':'NTCO3',
        'CEA MODAS ON EJ NM':'CEAB3',
        'CEA MODAS ON NM':'CEAB3',
        'CIA HERING ON NM':'HGTX3',
        'IMC S/A ON NM':'MEAL3',
        'PPLA UNT':'PPLA11',
        'BANCO BMG PN N1':'BMGB4',
        'LOG-IN ON NM':'LOGN3',
        'DE COMPRA 01/20 VVARA125 ON 12,50 VVAR':'VVAR125',
        'OPC COMPRA 01/20 VVARA125E ON 12,50':'VVAR125',
        'PORTOBELLO ON NM':'PTBL3',
        'RECRUSUL PN':'RCSL4',
        'GAFISA ON NM':'GFSA3',
        'COGNA ON ON NM':'COGN3',
        'MILLS ON NM':'MILS3',
        'TECNISA ON NM':'TCSA3',
        'TRISUL ON NM D': 'TRIS3',
        'TRISUL ON NM' : 'TRIS3',
        'CEMIG PN N1' : 'CMIG4',
        'CEMIG PN EJ N1': 'CMIG4',
        'DOMMO ON':'DMMO3',
        'PETROBRAS BR ON NM':'BRDT3',
        'OI PN N1':'OIBR4',
        'ISHARES BOVA CI':'BOVA11',
        'ISHARES BOVA CI D':'BOVA11',
        'ELETROBRAS PNB N1':'ELET6',
        'MOURA DUBEUX ON NM':'MDNE3',
        'FII XP CRED XPCI12 DM 100,51':'DSHFOSDHFOISDFJSDPOOFJSPOFJSDPF',
    }
    return tickers[nome]

In [134]:
aux = pd.DataFrame(historico,columns=['nota','pregao','nome','qtd','preco_medio','financeiro'])
aux['daytrade'] = aux.nome.apply(lambda x : True if x[-1] == 'D' or x[-3:-1] == 'D#' or x[-4:-1] == 'D#2' else False)
aux.nome = aux.nome.apply(translate_tickers)
aux['mes'] = aux['pregao'].apply(lambda x : '-'.join(x.split('-')[:2]))
aux = aux.sort_values(by='pregao',ascending=True)
aux.index = range(len(aux))
aux['turnover'] = abs(aux['financeiro'])

In [135]:
turnover = aux.groupby(by=['pregao','nota']).sum()[["turnover"]].sort_values(by='pregao',ascending=True)
turnover

                     turnover
pregao     nota
2019-08-27 16187544  19968900
2019-10-07 16794074  20056000
2019-10-16 16940340   5894300
2019-10-17 16962098   4498000
2019-10-18 16982263  14018300
2019-10-23 17052147   3095100
2019-10-24 17074733  35759600
2019-10-30 17167821  15838800
2019-10-31 17190958  55194900
2019-11-01 17221007   9859500
2019-11-04 17250154  10798800
2019-11-05 17279171   4561500
2019-11-06 17305259   5624000
2019-11-07 17333621   5587000
2019-12-06 17822840  13570300
2020-01-28 18868959   8685400
2020-01-29 18895289    337980
2020-01-30 18925822   6160000
2020-01-31 18952626   5628000
2020-02-11 19179455   5380800
2020-03-05 19682342  31381300
2020-03-06 19724666  26200000
2020-04-03 20609246   4213440
2020-04-06 20644754  33247200
2020-04-08 20717732  16771500
2020-04-09 20757246   9640000
2020-04-16 20904978   9328100
2020-04-22 21019046   8259300
2020-04-24 21123691  15340000
2020-04-27 21166320    610000
2020-04-28 21207473    660800
2020-05-04 21337703  16750000
2020-05-07 21457326  17860300
2020-05-08 21496713  16073700
2020-06-02 22211783  30231280
2020-06-15 22703849  25986450
2020-06-16 22757857  13004600
2020-06-17 22805484  16986740
2020-07-09 23565786    667800
2020-07-17 23889713    678600
2020-07-23 24131650   8719300
2020-07-24 24188142  41063460
2020-07-31 24459198  14792000

In [136]:
aux.groupby(by=['pregao','nota']).count().reset_index()[['pregao','nota']].sort_values(by='pregao',ascending=True)

        pregao      nota
0   2019-08-27  16187544
1   2019-10-07  16794074
2   2019-10-16  16940340
3   2019-10-17  16962098
4   2019-10-18  16982263
5   2019-10-23  17052147
6   2019-10-24  17074733
7   2019-10-30  17167821
8   2019-10-31  17190958
9   2019-11-01  17221007
10  2019-11-04  17250154
11  2019-11-05  17279171
12  2019-11-06  17305259
13  2019-11-07  17333621
14  2019-12-06  17822840
15  2020-01-28  18868959
16  2020-01-29  18895289
17  2020-01-30  18925822
18  2020-01-31  18952626
19  2020-02-11  19179455
20  2020-03-05  19682342
21  2020-03-06  19724666
22  2020-04-03  20609246
23  2020-04-06  20644754
24  2020-04-08  20717732
25  2020-04-09  20757246
26  2020-04-16  20904978
27  2020-04-22  21019046
28  2020-04-24  21123691
29  2020-04-27  21166320
30  2020-04-28  21207473
31  2020-05-04  21337703
32  2020-05-07  21457326
33  2020-05-08  21496713
34  2020-06-02  22211783
35  2020-06-15  22703849
36  2020-06-16  22757857
37  2020-06-17  22805484
38  2020-07-09  23565786
39  2020-07-17  23889713
40  2020-07-23  24131650
41  2020-07-24  24188142
42  2020-07-31  24459198

In [137]:
df_taxas = pd.DataFrame(taxa).sort_values(by=15,ascending=True)
df_taxas.columns = ['CBLC','valor_liquido_operacoes','taxa_liquidacao','taxa_registro','total_bovespa','taxa_termo_opcoes','taxa_ANA','emolumentos','total_custos','taxa_operacional','execucao','impostos','IRRF','outros','valor_liquido_para','data_liquidacao','montante_IRRF','lucro_daytrade','IRRF_daytrade']
df_taxas.index = range(len(df_taxas))
#df_taxas = df_taxas[[15,14]]
#df_taxas.columns = ['liquidacao','IRRF','valorIRRF','corretagem','valor_final','valor_liquid_operacoes','lucro_daytrade','IRRF_daytrade']
#df_taxas['valor_liquido_para'] = df_taxas['valor_liquido_para'] - df_taxas['IRRF_daytrade']
df_taxas['custos_operacionais'] = df_taxas['taxa_liquidacao']+df_taxas['emolumentos']+df_taxas['impostos']+df_taxas['outros']+df_taxas['taxa_operacional']
df_taxas = pd.concat([df_taxas,aux.groupby(by=['pregao','nota']).count().reset_index()[['pregao','nota']].sort_values(by='pregao',ascending=True)],axis=1)
#df_taxas= df_taxas[['nota','pregao','data_liquidacao','taxa_operacional','custos_operacionais','valor_liquido_para']]
#df_taxas.set_index(15).T
df_taxas

,CBLC,valor_liquido_operacoes,taxa_liquidacao,taxa_registro,total_bovespa,taxa_termo_opcoes,taxa_ANA,emolumentos,total_custos,taxa_operacional,...,IRRF,outros,valor_liquido_para,data_liquidacao,montante_IRRF,lucro_daytrade,IRRF_daytrade,custos_operacionais,pregao,nota
0,-19974391,-19968900,-5491,0,-821,0,0,-821,-32482,-28350,...,0,-1105,-20007694,2019-08-29,0,0,0,-38794,2019-08-27,16187544
1,20050485,20056000,-5515,0,-823,0,0,-823,-3166,-1890,...,-1002,-73,20046496,2019-10-09,20056000,-139403,0,-8502,2019-10-07,16794074
2,-5895920,-5894300,-1620,0,-241,0,0,-241,-2164,-1890,...,0,-73,-5898325,2019-10-18,0,-139403,0,-4025,2019-10-16,16940340
3,-4499236,-4498000,-1236,0,-184,0,0,-184,-2164,-1890,...,0,-73,-4501584,2019-10-21,0,-139403,0,-3584,2019-10-17,16962098
4,7262445,7266300,-3855,0,-575,0,0,-575,-4862,-3780,...,-532,-147,7257008,2019-10-22,10642300,-139403,0,-8760,2019-10-18,16982263
5,3094249,3095100,-851,0,-127,0,0,-127,-2318,-1890,...,-154,-73,3091804,2019-10-25,3095100,-139403,0,-3142,2019-10-23,17052147
6,13098767,13108600,-9833,0,-1467,0,0,-1467,-7717,-5670,...,-1221,-221,13089583,2019-10-28,24434100,-139403,0,-17796,2019-10-24,17074733
7,-15843155,-15838800,-4355,0,-957,0,0,-957,-6496,-5670,...,0,-221,-15850608,2019-11-01,0,-139403,0,-11808,2019-10-30,17167821
8,-125938,-114900,-11038,0,-2265,0,0,-2265,-12832,-11200,...,0,-436,-141035,2019-11-04,0,-139403,0,-26135,2019-10-31,17190958
9,625789,628500,-2711,0,-404,0,0,-404,-4592,-3780,...,-262,-147,620793,2019-11-05,5244000,0,0,-7445,2019-11-01,17221007
10,10795831,10798800,-2969,0,-443,0,0,-443,-4869,-3780,...,-539,-147,10790519,2019-11-06,10798800,0,0,-7742,2019-11-04,17250154
11,4560246,4561500,-1254,0,-319,0,0,-319,-2392,-1890,...,-228,-73,4557535,2019-11-07,4561500,0,0,-3737,2019-11-05,17279171
12,-5625546,-5624000,-1546,0,-231,0,0,-231,-2164,-1890,...,0,-73,-5627941,2019-11-08,0,0,0,-3941,2019-11-06,17305259
13,5585464,5587000,-1536,0,-229,0,0,-229,-4609,-3780,...,-279,-147,5580626,2019-11-11,5587000,0,0,-6095,2019-11-07,17333621
14,-13574031,-13570300,-3731,0,-515,0,0,-515,-2164,-1890,...,0,-73,-13576710,2019-12-10,0,0,0,-6410,2019-12-06,17822840
15,-4644988,-4642600,-2388,0,-607,0,0,-607,-4431,-3780,...,-101,-147,-4650026,2020-01-30,2021400,0,0,-7325,2020-01-28,18868959
16,337888,337980,-92,0,-23,0,0,-23,-2180,-1890,...,-16,-73,335685,2020-01-31,337980,0,0,-2279,2020-01-29,18895289
17,6158306,6160000,-1694,0,-431,0,0,-431,-2164,-1890,...,0,-73,6155711,2020-02-03,0,0,0,-4289,2020-01-30,18925822
18,-5629547,-5628000,-1547,0,-393,0,0,-393,-2164,-1890,...,0,-73,-5632104,2020-02-04,0,0,0,-4104,2020-01-31,18952626
19,5379321,5380800,-1479,0,-186,0,0,-186,-2164,-1890,...,0,-73,5376971,2020-02-13,0,0,0,-3829,2020-02-11,19179455
20,-23010929,-23002300,-8629,0,-1019,0,0,-1019,-6705,-5670,...,-209,-221,-23018653,2020-03-09,4189500,0,0,-16144,2020-03-05,19682342
21,26192795,26200000,-7205,0,-1834,0,0,-1834,-3474,-1890,...,-1310,-73,26187487,2020-03-10,26200000,0,0,-11203,2020-03-06,19724666
22,-4214598,-4213440,-1158,0,-126,0,0,-126,-2164,-1890,...,0,-73,-4216888,2020-04-07,0,0,0,-3448,2020-04-03,20609246
23,735551,742200,-6649,0,-999,0,0,-999,-4124,-3600,...,0,-140,730428,2020-04-08,0,0,0,-11772,2020-04-06,20644754
24,-16776112,-16771500,-4612,0,-951,0,0,-951,-4330,-3780,...,0,-147,-16781393,2020-04-13,0,0,0,-9893,2020-04-08,20717732
25,9637349,9640000,-2651,0,-289,0,0,-289,-2164,-1890,...,0,-73,9634896,2020-04-14,0,0,0,-5104,2020-04-09,20757246
26,-9330665,-9328100,-2565,0,-652,0,0,-652,-4330,-3780,...,0,-147,-9335647,2020-04-20,0,0,0,-7547,2020-04-16,20904978
27,8257029,8259300,-2271,0,-248,0,0,-248,-2576,-1890,...,-412,-73,8254205,2020-04-24,8259300,0,0,-4683,2020-04-22,21019046
28,-15344218,-15340000,-4218,0,-461,0,0,-461,-2164,-1890,...,0,-73,-15346843,2020-04-28,0,0,0,-6843,2020-04-24,21123691
29,609833,610000,-167,0,-42,0,0,-42,-2164,-1890,...,0,-73,607627,2020-04-29,610000,0,0,-2373,2020-04-27,21166320
30,660619,660800,-181,0,-19,0,0,-19,-2164,-1890,...,0,-73,658436,2020-04-30,660800,0,0,-2364,2020-04-28,21207473
31,16745394,16750000,-4606,0,-503,0,0,-503,-3001,-1890,...,-837,-73,16741890,2020-05-06,16750000,-9230,0,-7273,2020-05-04,21337703
32,-16185084,-16180300,-4784,0,-596,0,0,-596,-5247,-4580,...,0,-178,-16190927,2020-05-11,0,-9230,0,-10627,2020-05-07,21457326
33,16069280,16073700,-4420,0,-536,0,0,-536,-7299,-5670,...,-803,-221,16061445,2020-05-12,16073700,-9230,0,-11452,2020-05-08,21496713
34,-14882633,-14874320,-8313,0,-1751,0,0,-1751,-9043,-7559,...,-383,-294,-14893427,2020-06-04,7678480,0,0,-18724,2020-06-02,22211783
35,-29896,-22750,-7146,0,-855,0,0,-855,-4979,-3780,...,-649,-147,-35730,2020-06-17,12981850,0,0,-12331,2020-06-15,22703849
36,13001024,13004600,-3576,0,-910,0,0,-910,-2814,-1890,...,-650,-73,12997300,2020-06-18,13004600,0,0,-6650,2020-06-16,22757857
37,-13163244,-13158860,-4384,0,-558,0,0,-558,-3310,-2890,...,0,-112,-13167166,2020-06-19,0,-5476,-54,-8252,2020-06-17,22805484
38,-667983,-667800,-183,0,-20,0,0,-20,-2164,-1890,...,0,-73,-670167,2020-07-13,0,0,0,-2367,2020-07-09,23565786
39,678414,678600,-186,0,-20,0,0,-20,-2164,-1890,...,0,-73,676230,2020-07-21,678600,0,0,-2370,2020-07-17,23889713
40,-456097,-453700,-2397,0,-610,0,0,-610,-6702,-5670,...,-206,-221,-463409,2020-07-27,4132800,0,0,-9503,2020-07-23,24131650
41,2208113,2218660,-10547,0,-1267,0,0,-1267,-16573,-13740,...,-831,-535,2189550,2020-07-28,16638660,-72388,-723,-27556,2020-07-24,24188142
42,14787933,14792000,-4067,0,-456,0,0,-456,-2903,-1890,...,-739,-73,14784574,2020-08-04,14792000,0,0,-6687,2020-07-31,24459198

In [138]:
#verifica se os daytrades estão todos marcados certo (soma por dia da coluna qtd tem q ser zero pra todos os ativos/dia)
e = aux[aux.daytrade].groupby(['pregao','nome']).sum()
e

                    qtd  financeiro  daytrade  turnover
pregao     nome
2019-10-31 BBAS3      0      -29900      16.0  27059900
           ENEV3      0      -75000      13.0  19797000
           GBIO33     0      -12000       6.0   3536000
           TRIS3      0        2000       2.0   4802000
2020-04-06 PRIO3      0      742200      36.0  33247200
2020-05-07 TRIS3    100      -79100       4.0   1759100
2020-06-17 BOVA11  1450   -13158860       2.0  16986740
2020-07-24 VVAR3      0       78000       5.0   9926800

In [145]:
#preciso na unha tirar os BOVA11 q na vdd n foram daytrade
confusao = aux[aux.pregao=='2020-05-07'][aux.nome == 'TRIS3']
confusao

C:\Users\luiz.cavalcante\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,nota,pregao,nome,qtd,preco_medio,financeiro,daytrade,mes,turnover
377,21457326,2020-05-07,TRIS3,600,7.07,-424200,False,2020-05,424200
381,21457326,2020-05-07,TRIS3,500,7.07,-353500,True,2020-05,353500
382,21457326,2020-05-07,TRIS3,500,7.07,-353500,False,2020-05,353500
383,21457326,2020-05-07,TRIS3,500,7.07,-353500,False,2020-05,353500
384,21457326,2020-05-07,TRIS3,600,7.07,-424200,False,2020-05,424200
385,21457326,2020-05-07,TRIS3,200,7.07,-141400,False,2020-05,141400
386,21457326,2020-05-07,TRIS3,500,7.07,-353500,False,2020-05,353500
387,21457326,2020-05-07,TRIS3,500,7.07,-353500,False,2020-05,353500
388,21457326,2020-05-07,TRIS3,2700,7.07,-1908900,False,2020-05,1908900
390,21457326,2020-05-07,TRIS3,100,7.07,-70700,False,2020-05,70700
391,21457326,2020-05-07,TRIS3,500,7.07,-353500,False,2020-05,353500
392,21457326,2020-05-07,TRIS3,500,7.07,-353500,False,2020-05,353500
393,21457326,2020-05-07,TRIS3,100,7.07,-70700,False,2020-05,70700
394,21457326,2020-05-07,TRIS3,600,7.07,-424200,False,2020-05,424200
395,21457326,2020-05-07,TRIS3,600,7.07,-424200,True,2020-05,424200
396,21457326,2020-05-07,TRIS3,200,7.07,-141400,True,2020-05,141400
397,21457326,2020-05-07,TRIS3,400,7.07,-282800,False,2020-05,282800
398,21457326,2020-05-07,TRIS3,400,7.07,-282800,False,2020-05,282800
399,21457326,2020-05-07,TRIS3,400,7.07,-282800,False,2020-05,282800
400,21457326,2020-05-07,TRIS3,500,7.07,-353500,False,2020-05,353500
401,21457326,2020-05-07,TRIS3,-1200,7.00,840000,True,2020-05,840000
402,21457326,2020-05-07,TRIS3,100,7.07,-70700,False,2020-05,70700

In [146]:
qtd_comprada = confusao[confusao.qtd>0].qtd.sum()
qtd_vendida  = -confusao[confusao.qtd<0].qtd.sum()

#saldo final dos trades daquele dia, se ficou net comprado ou net vendido
saldo = qtd_comprada-qtd_vendida

#medio de compra
medio_compra = -0.01*confusao[confusao.qtd>0].financeiro.sum()/qtd_comprada
#medio_venda
medio_venda = 0.01*confusao[confusao.qtd<0].financeiro.sum()/qtd_vendida
medio_compra,medio_venda

(7.07, 7.0)

In [147]:
adicionar = confusao.iloc[0:2].copy()
adicionar.index = [0,1]
adicionar

,nota,pregao,nome,qtd,preco_medio,financeiro,daytrade,mes,turnover
0,21457326,2020-05-07,TRIS3,600,7.07,-424200,False,2020-05,424200
1,21457326,2020-05-07,TRIS3,500,7.07,-353500,True,2020-05,353500

In [148]:

if saldo > 0 and medio_compra < medio_venda :
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_compra
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    
elif saldo < 0 and medio_compra < medio_venda:
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_venda
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_comprada*(medio_venda-medio_compra)))
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_comprada*(medio_venda-medio_compra)))

elif saldo > 0 and medio_compra > medio_venda :
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_compra
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    
elif saldo < 0 and medio_compra > medio_venda:
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_venda
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_comprada*(medio_venda-medio_compra)))
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_comprada*(medio_venda-medio_compra)))

    
else:
    print('algum erro de caso inesperado')


#adicionar.index = [len(aux),len(aux)+1]
adicionar['turnover']  = adicionar['financeiro'].apply(abs)

In [149]:
aux.drop(confusao.index,inplace=True)
aux = pd.concat([aux,adicionar]).sort_values('pregao')
aux.index =range(len(aux))

In [150]:
#agora todos os daytrades devem estar todos marcados certo (soma por dia da coluna qtd tem q ser zero pra todos os ativos/dia)
e = aux[aux.daytrade].groupby(['pregao','nome']).sum()
e

                   qtd  financeiro  daytrade  turnover
pregao     nome
2019-10-31 BBAS3     0      -29900      16.0  27059900
           ENEV3     0      -75000      13.0  19797000
           GBIO33    0      -12000       6.0   3536000
           TRIS3     0        2000       2.0   4802000
2020-04-06 PRIO3     0      742200      36.0  33247200
2020-05-07 TRIS3     0       -8400       1.0      8400
2020-06-17 BOVA11    0        7140       1.0      7140
2020-07-24 VVAR3     0       78000       5.0   9926800

In [151]:
#Quantidade de dinheiro ganhado no daytrade BVM (SEM INDICIE FUTURO) (ainda não estao incluidos os custos)
e['financeiro'].sum()/100

7040.4

In [152]:
taxas_detalhadas = df_taxas[['nota','pregao','data_liquidacao','valor_liquido_operacoes','custos_operacionais','valor_liquido_para','IRRF','IRRF_daytrade']]
taxas_detalhadas

,nota,pregao,data_liquidacao,valor_liquido_operacoes,custos_operacionais,valor_liquido_para,IRRF,IRRF_daytrade
0,16187544,2019-08-27,2019-08-29,-19968900,-38794,-20007694,0,0
1,16794074,2019-10-07,2019-10-09,20056000,-8502,20046496,-1002,0
2,16940340,2019-10-16,2019-10-18,-5894300,-4025,-5898325,0,0
3,16962098,2019-10-17,2019-10-21,-4498000,-3584,-4501584,0,0
4,16982263,2019-10-18,2019-10-22,7266300,-8760,7257008,-532,0
5,17052147,2019-10-23,2019-10-25,3095100,-3142,3091804,-154,0
6,17074733,2019-10-24,2019-10-28,13108600,-17796,13089583,-1221,0
7,17167821,2019-10-30,2019-11-01,-15838800,-11808,-15850608,0,0
8,17190958,2019-10-31,2019-11-04,-114900,-26135,-141035,0,0
9,17221007,2019-11-01,2019-11-05,628500,-7445,620793,-262,0
10,17250154,2019-11-04,2019-11-06,10798800,-7742,10790519,-539,0
11,17279171,2019-11-05,2019-11-07,4561500,-3737,4557535,-228,0
12,17305259,2019-11-06,2019-11-08,-5624000,-3941,-5627941,0,0
13,17333621,2019-11-07,2019-11-11,5587000,-6095,5580626,-279,0
14,17822840,2019-12-06,2019-12-10,-13570300,-6410,-13576710,0,0
15,18868959,2020-01-28,2020-01-30,-4642600,-7325,-4650026,-101,0
16,18895289,2020-01-29,2020-01-31,337980,-2279,335685,-16,0
17,18925822,2020-01-30,2020-02-03,6160000,-4289,6155711,0,0
18,18952626,2020-01-31,2020-02-04,-5628000,-4104,-5632104,0,0
19,19179455,2020-02-11,2020-02-13,5380800,-3829,5376971,0,0
20,19682342,2020-03-05,2020-03-09,-23002300,-16144,-23018653,-209,0
21,19724666,2020-03-06,2020-03-10,26200000,-11203,26187487,-1310,0
22,20609246,2020-04-03,2020-04-07,-4213440,-3448,-4216888,0,0
23,20644754,2020-04-06,2020-04-08,742200,-11772,730428,0,0
24,20717732,2020-04-08,2020-04-13,-16771500,-9893,-16781393,0,0
25,20757246,2020-04-09,2020-04-14,9640000,-5104,9634896,0,0
26,20904978,2020-04-16,2020-04-20,-9328100,-7547,-9335647,0,0
27,21019046,2020-04-22,2020-04-24,8259300,-4683,8254205,-412,0
28,21123691,2020-04-24,2020-04-28,-15340000,-6843,-15346843,0,0
29,21166320,2020-04-27,2020-04-29,610000,-2373,607627,0,0
30,21207473,2020-04-28,2020-04-30,660800,-2364,658436,0,0
31,21337703,2020-05-04,2020-05-06,16750000,-7273,16741890,-837,0
32,21457326,2020-05-07,2020-05-11,-16180300,-10627,-16190927,0,0
33,21496713,2020-05-08,2020-05-12,16073700,-11452,16061445,-803,0
34,22211783,2020-06-02,2020-06-04,-14874320,-18724,-14893427,-383,0
35,22703849,2020-06-15,2020-06-17,-22750,-12331,-35730,-649,0
36,22757857,2020-06-16,2020-06-18,13004600,-6650,12997300,-650,0
37,22805484,2020-06-17,2020-06-19,-13158860,-8252,-13167166,0,-54
38,23565786,2020-07-09,2020-07-13,-667800,-2367,-670167,0,0
39,23889713,2020-07-17,2020-07-21,678600,-2370,676230,0,0
40,24131650,2020-07-23,2020-07-27,-453700,-9503,-463409,-206,0
41,24188142,2020-07-24,2020-07-28,2218660,-27556,2189550,-831,-723
42,24459198,2020-07-31,2020-08-04,14792000,-6687,14784574,-739,0

In [153]:
assert (df_taxas.valor_liquido_operacoes+df_taxas.custos_operacionais+df_taxas.IRRF+df_taxas.IRRF_daytrade == df_taxas.valor_liquido_para).all()
assert (aux.groupby(['nota']).sum().financeiro.values == taxas_detalhadas.valor_liquido_operacoes.values).all()

In [154]:
df_taxas[['nota','pregao','data_liquidacao','valor_liquido_operacoes','custos_operacionais','valor_liquido_para','IRRF','IRRF_daytrade']]

,nota,pregao,data_liquidacao,valor_liquido_operacoes,custos_operacionais,valor_liquido_para,IRRF,IRRF_daytrade
0,16187544,2019-08-27,2019-08-29,-19968900,-38794,-20007694,0,0
1,16794074,2019-10-07,2019-10-09,20056000,-8502,20046496,-1002,0
2,16940340,2019-10-16,2019-10-18,-5894300,-4025,-5898325,0,0
3,16962098,2019-10-17,2019-10-21,-4498000,-3584,-4501584,0,0
4,16982263,2019-10-18,2019-10-22,7266300,-8760,7257008,-532,0
5,17052147,2019-10-23,2019-10-25,3095100,-3142,3091804,-154,0
6,17074733,2019-10-24,2019-10-28,13108600,-17796,13089583,-1221,0
7,17167821,2019-10-30,2019-11-01,-15838800,-11808,-15850608,0,0
8,17190958,2019-10-31,2019-11-04,-114900,-26135,-141035,0,0
9,17221007,2019-11-01,2019-11-05,628500,-7445,620793,-262,0
10,17250154,2019-11-04,2019-11-06,10798800,-7742,10790519,-539,0
11,17279171,2019-11-05,2019-11-07,4561500,-3737,4557535,-228,0
12,17305259,2019-11-06,2019-11-08,-5624000,-3941,-5627941,0,0
13,17333621,2019-11-07,2019-11-11,5587000,-6095,5580626,-279,0
14,17822840,2019-12-06,2019-12-10,-13570300,-6410,-13576710,0,0
15,18868959,2020-01-28,2020-01-30,-4642600,-7325,-4650026,-101,0
16,18895289,2020-01-29,2020-01-31,337980,-2279,335685,-16,0
17,18925822,2020-01-30,2020-02-03,6160000,-4289,6155711,0,0
18,18952626,2020-01-31,2020-02-04,-5628000,-4104,-5632104,0,0
19,19179455,2020-02-11,2020-02-13,5380800,-3829,5376971,0,0
20,19682342,2020-03-05,2020-03-09,-23002300,-16144,-23018653,-209,0
21,19724666,2020-03-06,2020-03-10,26200000,-11203,26187487,-1310,0
22,20609246,2020-04-03,2020-04-07,-4213440,-3448,-4216888,0,0
23,20644754,2020-04-06,2020-04-08,742200,-11772,730428,0,0
24,20717732,2020-04-08,2020-04-13,-16771500,-9893,-16781393,0,0
25,20757246,2020-04-09,2020-04-14,9640000,-5104,9634896,0,0
26,20904978,2020-04-16,2020-04-20,-9328100,-7547,-9335647,0,0
27,21019046,2020-04-22,2020-04-24,8259300,-4683,8254205,-412,0
28,21123691,2020-04-24,2020-04-28,-15340000,-6843,-15346843,0,0
29,21166320,2020-04-27,2020-04-29,610000,-2373,607627,0,0
30,21207473,2020-04-28,2020-04-30,660800,-2364,658436,0,0
31,21337703,2020-05-04,2020-05-06,16750000,-7273,16741890,-837,0
32,21457326,2020-05-07,2020-05-11,-16180300,-10627,-16190927,0,0
33,21496713,2020-05-08,2020-05-12,16073700,-11452,16061445,-803,0
34,22211783,2020-06-02,2020-06-04,-14874320,-18724,-14893427,-383,0
35,22703849,2020-06-15,2020-06-17,-22750,-12331,-35730,-649,0
36,22757857,2020-06-16,2020-06-18,13004600,-6650,12997300,-650,0
37,22805484,2020-06-17,2020-06-19,-13158860,-8252,-13167166,0,-54
38,23565786,2020-07-09,2020-07-13,-667800,-2367,-670167,0,0
39,23889713,2020-07-17,2020-07-21,678600,-2370,676230,0,0
40,24131650,2020-07-23,2020-07-27,-453700,-9503,-463409,-206,0
41,24188142,2020-07-24,2020-07-28,2218660,-27556,2189550,-831,-723
42,24459198,2020-07-31,2020-08-04,14792000,-6687,14784574,-739,0

In [155]:
df_taxas.IRRF.sum()/100,df_taxas.IRRF_daytrade.sum()/100,taxas_detalhadas[['IRRF','IRRF_daytrade']].sum().sum()/100

(-113.63, -7.77, -121.4)

In [156]:
teste = aux.groupby(['nota','pregao','mes','nome','daytrade']).sum().reset_index()
teste

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover
0,16187544,2019-08-27,2019-08,GBIO33,False,21800,-19968900,19968900
1,16794074,2019-10-07,2019-10,GBIO33,False,-21800,20056000,20056000
2,16940340,2019-10-16,2019-10,BBAS3,False,1300,-5894300,5894300
3,16962098,2019-10-17,2019-10,BBAS3,False,1000,-4498000,4498000
4,16982263,2019-10-18,2019-10,ITUB4,False,-3100,10642300,10642300
...,...,...,...,...,...,...,...,...
64,24188142,2020-07-24,2020-07,COGN3,False,-2300,1945800,1945800
65,24188142,2020-07-24,2020-07,OIBR3,False,86000,-14498000,14498000
66,24188142,2020-07-24,2020-07,VVAR3,False,-1300,2518100,2518100
67,24188142,2020-07-24,2020-07,VVAR3,True,0,78000,9926800
68,24459198,2020-07-31,2020-07,OIBR3,False,-86000,14792000,14792000

In [157]:
#valor em REAIS que foi cobrado a mais no 'taxa_liquidacoo'
print((-df_taxas.taxa_liquidacao-turnover.reset_index().turnover*0.0002795).sum()/100)
(-df_taxas.taxa_liquidacao-turnover.reset_index().turnover*0.0002795)/100

-105.54762475000011

0     -0.903076
1     -0.906520
2     -0.274569
3     -0.211910
4     -0.631149
5     -0.140805
6     -1.618082
7     -0.719446
8    -43.889746
9     -0.447303
10    -0.492646
11    -0.209393
12    -0.259080
13    -0.255665
14    -0.618989
15    -0.395693
16    -0.024654
17    -0.277200
18    -0.260260
19    -0.249336
20    -1.420734
21    -1.179000
22    -0.196565
23   -26.435924
24    -0.756343
25    -0.433800
26    -0.422040
27    -0.374743
28    -0.695300
29    -0.034950
30    -0.036936
31    -0.756250
32    -2.079538
33    -0.725992
34    -1.366428
35    -1.172128
36    -0.587857
37    -3.637938
38    -0.036501
39    -0.036687
40    -0.400444
41    -9.302371
42    -0.673640
dtype: float64

In [158]:
#valor em REAIS que foi cobrado a mais no 'emolumento'
print((-df_taxas.emolumentos-turnover.reset_index().turnover*0.00004105).sum()/100)
(-df_taxas.emolumentos-turnover.reset_index().turnover*0.00004105)/100

9.64245797499999

0     0.012767
1    -0.002988
2    -0.009610
3    -0.006429
4    -0.004512
5    -0.000539
6    -0.009316
7     3.068173
8    -0.007506
9    -0.007325
10   -0.002907
11    1.317504
12    0.001348
13   -0.003464
14   -0.420608
15    2.504643
16    0.091259
17    1.781320
18    1.619706
19   -0.348818
20   -2.692024
21    7.584900
22   -0.469617
23   -3.657976
24    2.625299
25   -1.067220
26    2.690815
27   -0.910443
28   -1.687070
29    0.169595
30   -0.081258
31   -1.845875
32   -1.371653
33   -1.238254
34    5.100060
35   -2.117438
36    3.761612
37   -1.393057
38   -0.074132
39   -0.078565
40    2.520727
41   -4.186550
42   -1.512116
dtype: float64

In [159]:
#valor em centavos que foi cobrado a mais no 'imposto'
-df_taxas.impostos+(0.1068)*df_taxas.reset_index()['taxa_operacional']

0    -0.7800
1    -0.8520
2    -0.8520
3    -0.8520
4    -0.7040
5    -0.8520
6    -0.5560
7    -0.5560
8    -0.1600
9    -0.7040
10   -0.7040
11   -0.8520
12   -0.8520
13   -0.7040
14   -0.8520
15   -0.7040
16   -0.8520
17   -0.8520
18   -0.8520
19   -0.8520
20   -0.5560
21   -0.8520
22   -0.8520
23   -0.4800
24   -0.7040
25   -0.8520
26   -0.7040
27   -0.8520
28   -0.8520
29   -0.8520
30   -0.8520
31   -0.8520
32   -0.1440
33   -0.5560
34   -0.3012
35   -0.7040
36   -0.8520
37   -0.6520
38   -0.8520
39   -0.8520
40   -0.5560
41   -0.4320
42   -0.8520
dtype: float64

In [160]:
#valor em centavos que foi cobrado a mais na 'outros'
-df_taxas.outros+(0.039)*df_taxas.reset_index()['taxa_operacional']

0    -0.650
1    -0.710
2    -0.710
3    -0.710
4    -0.420
5    -0.710
6    -0.130
7    -0.130
8    -0.800
9    -0.420
10   -0.420
11   -0.710
12   -0.710
13   -0.420
14   -0.710
15   -0.420
16   -0.710
17   -0.710
18   -0.710
19   -0.710
20   -0.130
21   -0.710
22   -0.710
23   -0.400
24   -0.420
25   -0.710
26   -0.420
27   -0.710
28   -0.710
29   -0.710
30   -0.710
31   -0.710
32   -0.620
33   -0.130
34   -0.801
35   -0.420
36   -0.710
37   -0.710
38   -0.710
39   -0.710
40   -0.130
41   -0.860
42   -0.710
dtype: float64

In [161]:
#taxa_liquidacoo
-turnover.reset_index().turnover*0.0002795/100
#emolumentos
-turnover.reset_index().turnover*0.00004105/100
#impostos
(0.1068)*df_taxas.reset_index()['taxa_operacional']/100
#outros
(0.039)*df_taxas.reset_index()['taxa_operacional']/100

0    -11.05650
1     -0.73710
2     -0.73710
3     -0.73710
4     -1.47420
5     -0.73710
6     -2.21130
7     -2.21130
8     -4.36800
9     -1.47420
10    -1.47420
11    -0.73710
12    -0.73710
13    -1.47420
14    -0.73710
15    -1.47420
16    -0.73710
17    -0.73710
18    -0.73710
19    -0.73710
20    -2.21130
21    -0.73710
22    -0.73710
23    -1.40400
24    -1.47420
25    -0.73710
26    -1.47420
27    -0.73710
28    -0.73710
29    -0.73710
30    -0.73710
31    -0.73710
32    -1.78620
33    -2.21130
34    -2.94801
35    -1.47420
36    -0.73710
37    -1.12710
38    -0.73710
39    -0.73710
40    -2.21130
41    -5.35860
42    -0.73710
Name: taxa_operacional, dtype: float64

In [162]:
custo_distribuido = aux.groupby(['nota','pregao','mes','nome','daytrade']).sum().reset_index()
custo_distribuido['custo'] = 0
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo
0,16187544,2019-08-27,2019-08,GBIO33,False,21800,-19968900,19968900,0
1,16794074,2019-10-07,2019-10,GBIO33,False,-21800,20056000,20056000,0
2,16940340,2019-10-16,2019-10,BBAS3,False,1300,-5894300,5894300,0
3,16962098,2019-10-17,2019-10,BBAS3,False,1000,-4498000,4498000,0
4,16982263,2019-10-18,2019-10,ITUB4,False,-3100,10642300,10642300,0
...,...,...,...,...,...,...,...,...,...
64,24188142,2020-07-24,2020-07,COGN3,False,-2300,1945800,1945800,0
65,24188142,2020-07-24,2020-07,OIBR3,False,86000,-14498000,14498000,0
66,24188142,2020-07-24,2020-07,VVAR3,False,-1300,2518100,2518100,0
67,24188142,2020-07-24,2020-07,VVAR3,True,0,78000,9926800,0
68,24459198,2020-07-31,2020-07,OIBR3,False,-86000,14792000,14792000,0

In [163]:
for nota in set(teste.nota):
    constante = custo_distribuido[custo_distribuido.nota == nota].turnover.sum()
    custo_total = taxas_detalhadas[taxas_detalhadas.nota == nota].custos_operacionais.sum()
    fator = custo_total/constante
    custo_distribuido['custo'] = custo_distribuido['custo']+ custo_distribuido.nota.apply(lambda x : fator if x==nota else 0)*custo_distribuido.turnover

In [164]:
#valor infimo
custo_distribuido.groupby('nota')[['custo']].sum().values - taxas_detalhadas.groupby('nota')[['custos_operacionais']].sum().values

array([[ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 4.54747351e-13],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-1.81898940e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-9.09494702e-13],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 9.09494702e-13],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-3.63797881e-12],
       [ 0.00000000e+00]])

In [165]:
custo_distribuido = custo_distribuido.merge(taxas_detalhadas[['nota','data_liquidacao']],left_on='nota', right_on='nota')
custo_distribuido.head(6)

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao
0,16187544,2019-08-27,2019-08,GBIO33,False,21800,-19968900,19968900,-38794.00000,2019-08-29
1,16794074,2019-10-07,2019-10,GBIO33,False,-21800,20056000,20056000,-8502.00000,2019-10-09
2,16940340,2019-10-16,2019-10,BBAS3,False,1300,-5894300,5894300,-4025.00000,2019-10-18
3,16962098,2019-10-17,2019-10,BBAS3,False,1000,-4498000,4498000,-3584.00000,2019-10-21
4,16982263,2019-10-18,2019-10,ITUB4,False,-3100,10642300,10642300,-6650.34619,2019-10-22
5,16982263,2019-10-18,2019-10,QUAL3,False,1000,-3376000,3376000,-2109.65381,2019-10-22

In [166]:
custo_distribuido['aux'] = custo_distribuido['financeiro'] +custo_distribuido['custo']
custo_distribuido['aux']=custo_distribuido['aux'].apply(int)/100
custo_distribuido[['pregao','data_liquidacao','nome','daytrade','aux']]

        pregao data_liquidacao    nome  daytrade        aux
0   2019-08-27      2019-08-29  GBIO33     False -200076.94
1   2019-10-07      2019-10-09  GBIO33     False  200474.98
2   2019-10-16      2019-10-18   BBAS3     False  -58983.25
3   2019-10-17      2019-10-21   BBAS3     False  -45015.84
4   2019-10-18      2019-10-22   ITUB4     False  106356.49
..         ...             ...     ...       ...        ...
64  2020-07-24      2020-07-28   COGN3     False   19444.94
65  2020-07-24      2020-07-28   OIBR3     False -145077.29
66  2020-07-24      2020-07-28   VVAR3     False   25164.10
67  2020-07-24      2020-07-28   VVAR3      True     713.38
68  2020-07-31      2020-08-04   OIBR3     False  147853.13

[69 rows x 5 columns]

In [167]:
custo_distribuido.groupby('nome').sum()[['aux']]

              aux
nome
BBAS3     4026.09
BOVA11  202715.52
BRML3      341.18
CNTO3      359.40
COGN3    -1277.41
CVCB3   -10169.91
ENEV3     -843.73
GBIO33    2788.27
IGTA3     1716.55
ITUB4    -6954.87
MDNE3       60.63
MULT3     -252.82
OIBR3    22682.75
PETR4     -612.22
PRIO3   -16063.22
QUAL3    -2861.51
SQIA3  -225667.68
TIET11   -3650.51
TRIS3    -2119.27
VVAR3      109.43

In [168]:
#=IFERROR(DATE(YEAR(A2),DAY(A2),MONTH(A2)),DATE(INT(RIGHT(A2,4)),INT(MID(A2,4,2)),INT(LEFT(A2,2))))
#=IF(ISNUMBER(SEARCH("MARGEM",C2)),D2,0)
#custo_distribuido.loc[(1,3,28,29,30),:].groupby('nome').sum()[['qtd']]
#custo_distribuido.loc[(set(custo_distribuido.index)-{1,3,28,29,30}),:][~custo_distribuido.daytrade].aux.sum()
#custo_distribuido[custo_distribuido.nome=='oibr3'.upper()][['pregao','data_liquidacao','nome','daytrade','aux']]

In [169]:
custo_distribuido.groupby('nome').sum()[['qtd']]

          qtd
nome
BBAS3       0
BOVA11  -1870
BRML3       0
CNTO3       0
COGN3       0
CVCB3       0
ENEV3       0
GBIO33      0
IGTA3       0
ITUB4       0
MDNE3       0
MULT3       0
OIBR3       0
PETR4       0
PRIO3       0
QUAL3       0
SQIA3   11000
TIET11      0
TRIS3       0
VVAR3       0

In [170]:
print(custo_distribuido[custo_distribuido.nome=='PRIO3'].aux.sum())
custo_distribuido[custo_distribuido.nome=='PRIO3']

-16063.219999999987

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
25,18868959,2020-01-28,2020-01,PRIO3,False,1400,-6664000,6664000,-5620.213231,2020-01-30,-66696.20
27,18925822,2020-01-30,2020-01,PRIO3,False,-1400,6160000,6160000,-4289.000000,2020-02-03,61557.11
28,18952626,2020-01-31,2020-01,PRIO3,False,1200,-5628000,5628000,-4104.000000,2020-02-04,-56321.04
29,19179455,2020-02-11,2020-02,PRIO3,False,-1200,5380800,5380800,-3829.000000,2020-02-13,53769.71
34,20644754,2020-04-06,2020-04,PRIO3,True,0,742200,33247200,-11772.000000,2020-04-08,7304.28
36,20717732,2020-04-08,2020-04,PRIO3,False,4000,-11196000,11196000,-6604.181379,2020-04-13,-112026.04
37,20757246,2020-04-09,2020-04,PRIO3,False,-4000,9640000,9640000,-5104.000000,2020-04-14,96348.96

In [174]:
custo_distribuido[custo_distribuido.daytrade].groupby(['pregao','nome']).sum()

                   daytrade  qtd  financeiro  turnover         custo      aux
pregao     nome
2019-10-31 BBAS3       True    0      -29900  27059900 -12812.967983  -427.12
           ENEV3       True    0      -75000  19797000  -9373.956561  -843.73
           GBIO33      True    0      -12000   3536000  -1674.309764  -136.74
           TRIS3       True    0        2000   4802000  -2273.765692    -2.73
2020-04-06 PRIO3       True    0      742200  33247200 -11772.000000  7304.28
2020-05-07 TRIS3       True    0       -8400      8400     -5.517005   -84.05
2020-06-17 BOVA11      True    0        7140      7140     -4.472683    71.35
2020-07-24 VVAR3       True    0       78000   9926800  -6661.467417   713.38

In [182]:
(24.09*98700+custo_distribuido[custo_distribuido.nome=='SQIA3'].aux.sum())*15/100

49052.765999999996

In [173]:
-custo_distribuido[custo_distribuido.nome=='SQIA3'].aux.sum()

2050664.56

In [174]:
custo_distribuido[~custo_distribuido.daytrade][custo_distribuido.nome!='SQIA3'].aux.sum()

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

351459.52

In [165]:
custo_distribuido[custo_distribuido.daytrade].aux.sum()

26152.139999999996

In [104]:
custo_distribuido[custo_distribuido.nome=='oibr3'.upper()][['pregao','data_liquidacao','nome','daytrade','aux']]

        pregao data_liquidacao   nome  daytrade         aux
16  2020-05-04      2020-05-06  OIBR3      True    31251.10
35  2020-06-15      2020-06-17  OIBR3     False -1019030.78
40  2020-06-18      2020-06-22  OIBR3     False  1096598.12
41  2020-06-23      2020-06-25  OIBR3     False  -514059.86
42  2020-06-26      2020-06-30  OIBR3     False  -232093.07
45  2020-07-24      2020-07-28  OIBR3     False   -50437.04
46  2020-07-31      2020-08-04  OIBR3     False  1184096.06

In [175]:
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,16187544,2019-08-27,2019-08,GBIO33,False,21800,-19968900,19968900,-38794.000000,2019-08-29,-200076.94
1,16794074,2019-10-07,2019-10,GBIO33,False,-21800,20056000,20056000,-8502.000000,2019-10-09,200474.98
2,16940340,2019-10-16,2019-10,BBAS3,False,1300,-5894300,5894300,-4025.000000,2019-10-18,-58983.25
3,16962098,2019-10-17,2019-10,BBAS3,False,1000,-4498000,4498000,-3584.000000,2019-10-21,-45015.84
4,16982263,2019-10-18,2019-10,ITUB4,False,-3100,10642300,10642300,-6650.346190,2019-10-22,106356.49
...,...,...,...,...,...,...,...,...,...,...,...
64,24188142,2020-07-24,2020-07,COGN3,False,-2300,1945800,1945800,-1305.746394,2020-07-28,19444.94
65,24188142,2020-07-24,2020-07,OIBR3,False,86000,-14498000,14498000,-9729.011827,2020-07-28,-145077.29
66,24188142,2020-07-24,2020-07,VVAR3,False,-1300,2518100,2518100,-1689.793398,2020-07-28,25164.10
67,24188142,2020-07-24,2020-07,VVAR3,True,0,78000,9926800,-6661.467417,2020-07-28,713.38
68,24459198,2020-07-31,2020-07,OIBR3,False,-86000,14792000,14792000,-6687.000000,2020-08-04,147853.13

In [176]:
custo_distribuido[custo_distribuido.nome=='SQIA3']

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
52,22211783,2020-06-02,2020-06,SQIA3,False,11000,-22552800,22552800,-13968.268204,2020-06-04,-225667.68

In [47]:
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,15472367,2019-07-15,2019-07,TRIS3,False,2600,-2131000,2131000,-5005.000000,2019-07-17,-21360.05
1,15770099,2019-08-02,2019-08,TRIS3,False,-2600,2155400,2155400,-2906.000000,2019-08-06,21524.94
2,16129828,2019-08-23,2019-08,GBIO33,False,7900,-6909800,6909800,-8680.000000,2019-08-27,-69184.80
3,16152489,2019-08-26,2019-08,GBIO33,False,6200,-5411200,5411200,-12537.000000,2019-08-28,-54237.37
4,16172636,2019-08-27,2019-08,GBIO33,False,5200,-4751100,4751100,-7997.000000,2019-08-29,-47590.97
5,16209057,2019-08-29,2019-08,GBIO33,False,-500,452000,452000,-2306.000000,2019-09-02,4496.94
6,16613152,2019-09-25,2019-09,GBIO33,False,1500,-1192500,1192500,-2574.000000,2019-09-27,-11950.74
7,16668683,2019-09-30,2019-09,GBIO33,False,-600,462000,462000,-2323.000000,2019-10-02,4596.77
8,16779434,2019-10-07,2019-10,GBIO33,False,-19700,17710300,17710300,-7761.000000,2019-10-09,177025.39
9,16967257,2019-10-18,2019-10,QUAL3,False,600,-2025600,2025600,-2804.000000,2019-10-22,-20284.04
10,16987708,2019-10-21,2019-10,ITUB4,False,-3800,13051500,13051500,-6288.000000,2019-10-23,130452.12
11,17034373,2019-10-23,2019-10,QUAL3,False,-600,1861200,1861200,-2751.000000,2019-10-25,18584.49
12,17057837,2019-10-24,2019-10,ITUB4,False,3800,-13881400,13881400,-6550.000000,2019-10-28,-138879.50
13,17174111,2019-10-31,2019-10,BRML3,False,800,-1225600,1225600,-2551.000000,2019-11-04,-12281.51
14,17228307,2019-11-04,2019-11,BRML3,False,-800,1236000,1236000,-2553.000000,2019-11-06,12334.47
15,17566844,2019-11-25,2019-11,GBIO33,False,1600,-1416000,1416000,-2611.000000,2019-11-27,-14186.11
16,17640994,2019-11-28,2019-11,GBIO33,False,1800,-1621800,1621800,-2675.000000,2019-12-02,-16244.75
17,17744320,2019-12-04,2019-12,GBIO33,False,-400,361600,361600,-2276.000000,2019-12-06,3593.24
18,17801694,2019-12-06,2019-12,BBAS3,True,-2798,13556310,13575690,-8575.000000,2019-12-10,135477.35
19,17948067,2019-12-13,2019-12,CMIG4,False,-7300,9490000,9490000,-4875.994683,2019-12-17,94851.24
20,17948067,2019-12-13,2019-12,SQIA3,False,10600,-22857000,22857000,-11744.005317,2019-12-17,-228687.44
21,18078081,2019-12-19,2019-12,BOVA11,False,-700,7757400,7757400,-5047.900889,2019-12-23,77523.52
22,18078081,2019-12-19,2019-12,GBIO33,False,-3000,2750900,2750900,-1790.067620,2019-12-23,27491.09
23,18078081,2019-12-19,2019-12,KEPL3,False,3800,-10450000,10450000,-6800.031491,2019-12-23,-104568.00
24,18218512,2019-12-30,2019-12,SQIA3,False,1300,-3282300,3282300,-3190.000000,2020-01-03,-32854.90
25,18314101,2020-01-06,2020-01,CMIG4,False,2900,-4010700,4010700,-5978.339577,2020-01-08,-40166.78
26,18314101,2020-01-06,2020-01,SQIA3,False,-600,1498500,1498500,-2233.660423,2020-01-08,14962.66
27,18348931,2020-01-07,2020-01,BOVA11,False,-560,6268360,6268360,-5202.471247,2020-01-09,62631.57
28,18348931,2020-01-07,2020-01,CMIG4,False,4400,-6261200,6261200,-5196.528753,2020-01-09,-62663.96
29,18480725,2020-01-13,2020-01,SQIA3,False,-11300,27673700,27673700,-10786.000000,2020-01-15,276629.14
30,18513199,2020-01-14,2020-01,PRIO3,False,5000,-20420000,20420000,-8526.000000,2020-01-16,-204285.26
31,18545780,2020-01-15,2020-01,BOVA11,False,-210,2353100,2353100,-1397.270056,2020-01-17,23517.02
32,18545780,2020-01-15,2020-01,KEPL3,False,-3200,9836800,9836800,-5841.088814,2020-01-17,98309.58
33,18545780,2020-01-15,2020-01,PRIO3,False,4400,-18498900,18498900,-10984.641130,2020-01-17,-185098.84
34,18579106,2020-01-16,2020-01,KEPL3,False,-600,1851000,1851000,-2852.910677,2020-01-20,18481.47
35,18579106,2020-01-16,2020-01,PRIO3,False,400,-1668800,1668800,-2572.089323,2020-01-20,-16713.72
36,18780954,2020-01-24,2020-01,BOVA11,False,-1020,11644320,11644320,-6872.421893,2020-01-28,116374.47
37,18780954,2020-01-24,2020-01,PRIO3,False,2500,-11670000,11670000,-6887.578107,2020-01-28,-116768.87
38,18904168,2020-01-30,2020-01,BOVA11,False,2490,-27385020,27385020,-10902.262572,2020-02-03,-273959.22
39,18904168,2020-01-30,2020-01,PRIO3,False,-12300,54120000,54120000,-21545.737428,2020-02-03,540984.54
40,18934102,2020-01-31,2020-01,BOVA11,False,-1250,13700000,13700000,-5743.398903,2020-02-04,136942.56
41,18934102,2020-01-31,2020-01,PRIO3,False,8200,-38458000,38458000,-16122.601097,2020-02-04,-384741.22
42,19159690,2020-02-11,2020-02,PRIO3,False,-8200,36588400,36588400,-13491.000000,2020-02-13,365749.09
43,19660857,2020-03-05,2020-03,CVCB3,False,18600,-39033000,39033000,-18497.000000,2020-03-09,-390514.97
44,19694707,2020-03-06,2020-03,CVCB3,False,-18600,37200000,37200000,-14998.000000,2020-03-10,371850.02

In [178]:
qtd = aux.groupby(by=['pregao','nome']).sum()[["qtd"]].reset_index().pivot(index='nome',columns='pregao', values='qtd').fillna(0)
qtd

pregao,2019-08-27,2019-10-07,2019-10-16,2019-10-17,2019-10-18,2019-10-23,2019-10-24,2019-10-30,2019-10-31,2019-11-01,...,2020-05-08,2020-06-02,2020-06-15,2020-06-16,2020-06-17,2020-07-09,2020-07-17,2020-07-23,2020-07-24,2020-07-31
nome,,,,,,,,,,,,,,,,,,,,,
BBAS3,0.0,0.0,1300.0,1000.0,0.0,0.0,-5100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BOVA11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-210.0,-1450.0,0.0,1450.0,0.0,0.0,-420.0,-1240.0,0.0
BRML3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3500.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CNTO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-3300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
COGN3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2300.0,-2300.0,0.0
CVCB3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENEV3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GBIO33,21800.0,-21800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-5900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
IGTA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ITUB4,0.0,0.0,0.0,0.0,-3100.0,0.0,3100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MDNE3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,600.0,-600.0,0.0,0.0,0.0
MULT3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1800.0,0.0,-1800.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OIBR3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,132700.0,-132700.0,0.0,0.0,0.0,0.0,86000.0,-86000.0
PETR4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PRIO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
QUAL3,0.0,0.0,0.0,0.0,1000.0,-1000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SQIA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,11000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TIET11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRIS3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-9800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VVAR3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1300.0,-1300.0,0.0

In [179]:
financeiro = aux.groupby(by=['pregao','nome']).sum()[["financeiro"]].reset_index().pivot(index='nome',columns='pregao', values='financeiro').fillna(0)
financeiro/100

pregao,2019-08-27,2019-10-07,2019-10-16,2019-10-17,2019-10-18,2019-10-23,2019-10-24,2019-10-30,2019-10-31,2019-11-01,...,2020-05-08,2020-06-02,2020-06-15,2020-06-16,2020-06-17,2020-07-09,2020-07-17,2020-07-23,2020-07-24,2020-07-31
nome,,,,,,,,,,,,,,,,,,,,,
BBAS3,0.0,0.0,-58943.0,-44980.0,0.0,0.0,244341.0,0.0,-299.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BOVA11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,18433.8,129818.5,0.0,-131588.6,0.0,0.0,41328.0,121747.6,0.0
BRML3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-53690.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CNTO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,93390.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
COGN3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-20125.0,19458.0,0.0
CVCB3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENEV3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-750.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GBIO33,-199689.0,200560.0,0.0,0.0,0.0,0.0,0.0,0.0,-120.0,0.0,...,0.0,58351.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
IGTA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-52084.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ITUB4,0.0,0.0,0.0,0.0,106423.0,0.0,-113255.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MDNE3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-6678.0,6786.0,0.0,0.0,0.0
MULT3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-52614.0,0.0,52440.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OIBR3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-130046.0,130046.0,0.0,0.0,0.0,0.0,-144980.0,147920.0
PETR4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-46155.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PRIO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
QUAL3,0.0,0.0,0.0,0.0,-33760.0,30951.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SQIA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-225528.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TIET11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRIS3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,...,67347.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VVAR3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-25740.0,25961.0,0.0

In [180]:
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,16187544,2019-08-27,2019-08,GBIO33,False,21800,-19968900,19968900,-38794.000000,2019-08-29,-200076.94
1,16794074,2019-10-07,2019-10,GBIO33,False,-21800,20056000,20056000,-8502.000000,2019-10-09,200474.98
2,16940340,2019-10-16,2019-10,BBAS3,False,1300,-5894300,5894300,-4025.000000,2019-10-18,-58983.25
3,16962098,2019-10-17,2019-10,BBAS3,False,1000,-4498000,4498000,-3584.000000,2019-10-21,-45015.84
4,16982263,2019-10-18,2019-10,ITUB4,False,-3100,10642300,10642300,-6650.346190,2019-10-22,106356.49
...,...,...,...,...,...,...,...,...,...,...,...
64,24188142,2020-07-24,2020-07,COGN3,False,-2300,1945800,1945800,-1305.746394,2020-07-28,19444.94
65,24188142,2020-07-24,2020-07,OIBR3,False,86000,-14498000,14498000,-9729.011827,2020-07-28,-145077.29
66,24188142,2020-07-24,2020-07,VVAR3,False,-1300,2518100,2518100,-1689.793398,2020-07-28,25164.10
67,24188142,2020-07-24,2020-07,VVAR3,True,0,78000,9926800,-6661.467417,2020-07-28,713.38
68,24459198,2020-07-31,2020-07,OIBR3,False,-86000,14792000,14792000,-6687.000000,2020-08-04,147853.13

In [621]:
custo_distribuido[custo_distribuido.mes.isin(['2020-04','2020-05'])][custo_distribuido.daytrade].financeiro.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

28407.0

In [623]:
custo_distribuido[custo_distribuido.mes.isin(['2020-04','2020-05'])][custo_distribuido.daytrade].custo.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-2228.6067927113077

In [635]:
#Imposto de renda relativo a daytrade pra ser pago no final do mes 6,referente ao mês 5
(28407.0-2228.6067927113077-12664.86 -12828.95 )*20/100 + taxas_detalhadas.IRRF_daytrade.sum()/100

-268.4633585422617

In [652]:
custo_distribuido[~custo_distribuido.daytrade][~custo_distribuido.nome.isin(['OIBR3','SQIA3'])].financeiro.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-109637.65

In [650]:
custo_distribuido[~custo_distribuido.daytrade][~custo_distribuido.nome.isin(['OIBR3','SQIA3'])].custo.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-3976.2850533131127